<h3>Create Product</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form>
    <div class="form-group">
      <label for="name">Product name</label>
      <input type="text" class="form-control" id="name" required="true" [(ngModel)]="product.name" name="name">
    </div>
    <div class="form-group">
      <label for="description">Product description</label>
      <input type="text" class="form-control" id="description" required="true" [(ngModel)]="product.description"
             name="description">
    </div>
    <div class="form-group">
      <label for="Productcategory">Category</label>
      <select id="Productcategory" name="category" [(ngModel)]="product.Productcategory" class="form-control">
        <option *ngFor="let cat of categoriesList" [ngValue]="cat">
          {{cat.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="image">Product Image</label>
      <input type="text" class="form-control" id="image" required="true" [(ngModel)]="product.quantity"
             name="quantity">
    </div>
    <div class="form-group">
      <label for="quantity">Product quantity</label>
      <input type="number" class="form-control" id="quantity" required="true" [(ngModel)]="product.quantity"
             name="quantity">
    </div>
    <div class="form-group">
      <label for="price">Product price</label>
      <input type="number" class="form-control" id="price" required="true" [(ngModel)]="product.price" name="price">
    </div>
    <!--<div class="form-group">
      <input type="file" (change)="onFileChange($event)"/>
      <img [src]="imgUrl" height="200" *ngIf="imgUrl"/>
    </div>
       <input
      type="file" (change)="onFileChanged($event)" #fileInput>-->

    <button type="submit" (click)="closeThis()" class="btn btn-success">Submit</button>
  </form>
</div>

