::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

mat-form-field{
  width:100%;
  height: 20px;
}

table{
  height: 200px;
}

.form-container{
  height: 300px;
}

.list-header-title{
  color: rgb(255,202,99);
  border-radius: 13px;

}

.list-viewer-wrapper{
  margin-top: 40px;
  border: 3px solid rgb(255,202,99)  ! important;
  border-radius: 15px ! important;
  border-bottom-left-radius: 50px ! important;
  border-bottom-right-radius: 50px ! important;
  padding: 20px;
}
button{
  background-color:rgb(255,202,99);
}

table{
  height:250px;
}
