<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h4 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255,202,99)">Vape <span style="color: white">or </span>DIE</h4>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <!-- Grid column -->


      <!-- Grid column -->

      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">vape or die</h5>

        <ul class="list-unstyled">

          <li>
            <a href="#abt" onclick="hideShow('aboutP','about',1)">About us</a>
          </li>
          <li>
            <a href="#con" onclick="hideShow('contactDiv','Contact',1)">Contact us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links --><h5 class="catFoot">Categories</h5>


      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr style="width:80%">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="" class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f" title="Facebook Page"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a  href="" class="btn-floating btn-tw mx-1">
        <i class="fab fa-youtube" title="Youtube Channel"> </i>
      </a>
    </li>

  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href=""> All rights reserved</a>
  </div>
  <!-- Copyright -->

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</footer>
<!-- Footer -->
