  <div [ngStyle]="{'background-color': getTheme() ? 'black' :''}" style="height:100vh;width: 100%;text-align: center" *ngIf="loading">
  <div>
  <img style="margin-top: 20vh" *ngIf="!getTheme()" src="../../../assets/loading/loadinglight.gif">
  <img style="margin-top: 20vh" *ngIf="getTheme()" src="../../../assets/loading/loadingdark.gif"><br>
    <span [@enterLoadingAnimation] *ngIf="showLoadingText" [ngStyle]="{'color': getTheme() ? 'grey' : 'grey'}" style="margin-left:40px;font-size: 30px;font-weight: bolder">Loading...</span>
  </div>
</div>
<div *ngIf="showSite">
<div [ngClass]="getTheme() ? 'bg-dark' :''" class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header" style="overflow: hidden" >

  <app-nav [connectedUser]="connectedUser"></app-nav>

  <!--profile-->
  <app-profile (outPutData)="refreshConnectedUser($event)" [connectedUser]="connectedUser" *ngIf="router.url === '/RemoteMonitoring/(mainCon:Profile)'" style="margin: 15px;padding: 0" name="mainCon"></app-profile>
  <!--posts-->
  <app-posts *ngIf="router.url === '/RemoteMonitoring/(mainCon:Posts)'"></app-posts>
  <!--time tables-->
  <app-timetables *ngIf="router.url === '/RemoteMonitoring/(mainCon:TimeTables)'"></app-timetables>

  <div *ngIf="router.url !== '/RemoteMonitoring/(mainCon:TimeTables)' && router.url !== '/RemoteMonitoring/(mainCon:Employees)'" class="app-main">
    <div class="app-main__outer">
      <!--Absences-->
        <div [@enterAnimation] *ngIf="router.url === '/RemoteMonitoring' || router.url === '/RemoteMonitoring/(mainCon:Absences)'" class="app-sidebar sidebar-shadow" [ngClass]="getTheme() ? 'bg-premium-dark' :''" style="max-width: 320px;margin-top: -14px;margin-left: -300px">

          <app-employees></app-employees>

        </div>

       <div [@enterSecondAnimation] [ngClass]="getTheme() ? 'bg-premium-dark' :''" *ngIf="router.url === '/RemoteMonitoring' || router.url === '/RemoteMonitoring/(mainCon:Absences)'" class="card mainCard">

          <div class="card-body">
            <router-outlet  name="secCon"></router-outlet>
          </div>
          <div [ngStyle]="{'color': getTheme()? 'white' :''}" class="card-footer">
            {{time | date: 'dd MMMM yyyy '}} <span [ngStyle]="{'color': getTheme()? 'white' :''}" class="time">{{ time | date: 'HH:mm:ss a' }}</span></div>

        </div>

      <!--Departments-->
      <app-departments *ngIf="router.url === '/RemoteMonitoring/(mainCon:Departments)'" [@enterAnimation] (outPutData)="setClickedDep($event)"></app-departments>
      <div style="margin-top: 20px !important;;margin-right: 15px !important;">
        <app-employees *ngIf="router.url === '/RemoteMonitoring/(mainCon:Departments)'" (outPutData)="reloadDep($event)" [@enterSecondAnimation]></app-employees>
      </div>
    </div>

  </div>

  <!--Employees-->
 <app-employees [@enterAnimation] *ngIf="router.url === '/RemoteMonitoring/(mainCon:Employees)'" style="margin: 70px 15px 15px;"></app-employees>


</div>

</div>

