<br>

<form    style="color:black" [formGroup]="registerForm">
  <div class="main-card mb-3 card">
    <div class="card-header" style="text-align: left">
      <h1 style="padding:30px;" *ngIf="post == null">Add a new post</h1>
      <h1 style="padding:30px;" *ngIf="post != null">Edit post</h1>
    </div>
    <div class="card-body">
      <div class="line">
        <label for="postName">Post name*</label>
        <input required formControlName="postName" [(ngModel)]="newPost.postName" type="text" class="form-control" id="postName" placeholder="Post name">
        <div class="mat-errorContainer">
          <mat-error *ngIf="!postName.valid && postName.touched ">
            {{ getErrorPostName()}}
          </mat-error>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%">
    <div class="buttons">
      <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="addPost()" *ngIf="post == null"  mat-raised-button  type="submit" >Add post</button>
      <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="updatePost()" *ngIf="post != null"  mat-raised-button  type="submit" >Update post</button>

      <button type="button" (click)="closeThis()" class="btn btn-light" style="margin-left: 20px;">Cancel</button>
    </div>
  </div>
</form>
