<div  class="main-card mb-3 card" style="margin-left:5px;border: none">
  <div class="card-header" >
    <i style="color:grey;margin-right: 15px;margin-top: -15px" class="fa fa-user-friends"></i>
    <h2 class="app-sidebar__heading" style="font-weight: bolder">Employee details
    </h2><br>
  </div>

  <div class="card-body contacts_body" >
    <table>
<tr>
  <td class="tag"> Badge id:</td>
<td class="data">
{{emp.userId}}
</td>
</tr>
      <tr>
        <td class="tag">CIN:</td>
<td class="data">
{{emp.cin}}
</td></tr>
      <tr>
        <td class="tag">Name:</td>
<td class="data">
{{emp.name}}
</td></tr>
      <tr>
        <td class="tag"> First name:</td>
<td class="data">
{{emp.firstName}}
</td></tr>
      <tr>
        <td class="tag"> gender:</td>
<td class="data">
{{emp.gender}}
</td></tr>
      <tr>
        <td class="tag">Birth date:</td>
<td class="data">
{{emp.gender}}
</td></tr>
      <tr>
        <td class="tag">Phone number:</td>
<td class="data">
{{emp.phone}}
</td></tr>
      <tr>
        <td class="tag">Email:</td>
<td class="data">
{{emp.email}}
</td></tr>
      <tr>
        <td class="tag">Departement:</td>
<td class="data">
{{emp.departement}}
</td></tr>
      <tr>
        <td class="tag">Post:</td>
<td class="data">
{{emp.post.postName}}
</td></tr>
      <tr>
        <td class="tag">Addresses:</td>
<td class="data">
{{emp.addresses}}
</td></tr>
    </table>
    </div>
</div>
