

.bodyContainer{
  padding-right: 20px;
  padding-left: 20px;
}

.noDescBod{
  padding-top: 180px;
  font-weight: bolder;
  font-size: 20px;
  margin:auto;
  padding-left: 70px;
}
.noSchContainer{
  padding-top: 50%;
  text-align: center;
  color:black;
  font-weight:bolder;
  margin:0 auto;
  font-size:25px;
  width: 100%;
}
.descBody{
  overflow: hidden;
  height:100%;
  margin-bottom: 10px;
  font-size: 13px;
}
.tableHeader{
  height: 100%;
}
