    <div [@enterAnimation] *ngIf="clickedPlanning == null" class="card-body noDescBod">
      Click a planning to show details here
    </div>
    <div *ngIf="clickedPlanning != null" class="card-body descBody">
      <div *ngIf="!showBody" style="padding-top: 5%;width:100%">
        <div style="width: 40px;margin:auto">
          <div class="spinner-container" style="font-size:12px;margin-left: -20px">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </div>


     <div [@enterAnimation]  *ngIf="showBody">
       <table style="width: 90%">
         <tr>
           <td>
             <div class="element">
               <h2>
                 Days
               </h2>
               <div class="elementDiv">
                 <table class="daysTable">
                   <tr>
                     <td class="daysTd"><div matTooltip="Monday"  style="padding-left: 6px !important;"  class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('MONDAY')> -1 ? 'cornflowerblue' :''}">Mo</div></td>
                     <td class="daysTd"><div matTooltip="Tuesday" class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('TUESDAY')> -1 ? 'cornflowerblue' :''}">Tu</div></td>
                     <td class="daysTd"><div matTooltip="Wednesday" style="padding-left: 6px !important;" class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('WEDNESDAY')> -1 ? 'cornflowerblue' :''}">We</div></td></tr><tr>
                   <td class="daysTd"><div matTooltip="Thursday"  class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('THURSDAY')> -1 ? 'cornflowerblue' :''}">Th</div></td>
                   <td class="daysTd"><div matTooltip="Friday" style="padding-left: 10px" class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('FRIDAY')> -1 ? 'cornflowerblue' :''}">Fr</div></td>
                   <td class="daysTd"><div matTooltip="Saturday" style="padding-left: 8px !important;" class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('SATURDAY')> -1 ? 'cornflowerblue' :''}">Sa</div></td>
                   <td class="daysTd"><div matTooltip="Sunday" style="padding-left: 8px !important;"  class="btn-secondary days" [ngStyle]="{'background-color':clickedPlanning.scheduleDays.indexOf('SUNDAY')> -1 ? 'cornflowerblue' :''}">Su</div></td>
                 </tr>
                 </table>
               </div>
             </div>
           </td>
           <td>
             <div class="element" style="margin-top:-45px">
               <h2>
                 Color
               </h2>
               <div class="elementDiv" style="margin-left:20px ">
                 <div matTooltip=""><div [ngClass]="clickedPlanning.color" class="colorsChecked"></div></div>
               </div>
             </div>

           </td>
         </tr>
         <tr>
           <td>
             <div class="element">
               <h2>
                 Start date
               </h2>
               <div class="elementDiv">
                 <span>{{clickedPlanning.startDate | date: 'dd MMMM yyyy '}}</span>
               </div>
             </div>
           </td>
           <td>
             <div class="element">
               <h2>
                 End date
               </h2>
               <div class="elementDiv">

                 <span>{{clickedPlanning.endDate | date: 'dd MMMM yyyy '}}</span>
               </div>
             </div>

           </td>
         </tr>
         <tr>
           <td>
             <div class="element">
               <h2>
                 Repeat cycle
               </h2>
               <div class="elementDiv">

                 <span>Every {{clickedPlanning.repeatCycle}} week<span *ngIf="clickedPlanning.repeatCycle > 1">s</span></span>
               </div>
             </div>

           </td>
           <td>
           </td>
         </tr>
       </table>


         <div *ngIf="onlySpace()" class="element">
           <h2>
             Description
           </h2>
           <div class="elementDiv">
             {{clickedPlanning.planningDescription}}
           </div>
         </div>
       <div *ngIf="clickedPlanning.departments != null">
       <div [@enterAnimation]  *ngIf="clickedPlanning.departments.length>0" class="main-card mb-3 card" style="margin: 15px;min-height: 50px" [ngClass]="getTheme() ? 'bg-premium-dark' :''">
         <div class="card-header">
           <h2 [ngStyle]="{'color': getTheme()? 'white' :'black'}">Departments</h2>
         </div>
         <div class="card-body" style="padding-left: 10px;;padding-right: 10px;">

         <table style="width: 100%;font-size:14px;margin-bottom: 20px;margin-top: 5px" [ngStyle]="{'color': getTheme()? 'white' :'black'}" class="table-striped tableHeader">
          <thead>
           <tr>
            <th>
              ID
            </th>
             <th>
               Department name
             </th>
             <th>
             </th>
          </tr>
          </thead>
           <tbody>
            <tr *ngFor="let dep of clickedPlanning.departments">
              <td>
                {{dep.depId}}
              </td>
              <td>
                {{dep.depName}}
              </td>
              <td>
                <button type="button" id="PopoverCustomT-4" style="border-radius: 12px;float: right" class="btn btn-danger btn-sm" *ngIf="role == 'admin'" (click)="removeDep(dep)" matTooltip="Remove planning"><span class="fa fa-minus-circle"></span></button>
              </td>
            </tr>
           </tbody>
         </table>
       </div>
       </div>
     </div>
    </div>
    </div>
