

.bodyContainer{
  padding-right: 20px;
  padding-left: 20px;
}

.noDescBod{
  padding-top: 200px;
  font-weight: bolder;
  font-size: 20px;
  margin:auto;
  padding-left: 70px;
}
.noSchContainer{
  padding-top: 50%;
  text-align: center;
  color:black;
  font-weight:bolder;
  margin:0 auto;
  font-size:25px;
  width: 100%;
}
.descBody{
  overflow: hidden;
  height:100%;
  margin-bottom: 10px;
  font-size: 13px;
}
.tableHeader{
  height: 100%;
}

.element {
  margin-bottom: 20px;
}

.daysTable{
  width: 45%;
}

.daysTd{
  padding-bottom: 8px;
}
.days{
  padding-left: 7px;
  padding-top:5px;
  border-radius: 120px;
  height:30px;
  width: 30px;
}

.elementDiv {
  margin-left: 10px;
  margin-top: -10px;
}

.colorsChecked{
  border-radius: 120px;
  height:29px;
  width: 20px;
  cursor: pointer;
  border:3px solid lightblue;
  pointer-events: none;
}
