.catList{
  display: inline-block;
  list-style-type: none;
  padding:5px;
  margin: 0px;
}

.catDiv
{
  text-align: center;
  width:100%;
  min-height: 40px;
  z-index: 666666666666;
  background-color:white;
}
.btn-cat{
  background-color: white !important;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}
.btn-cat:hover{
  color: rgb(255,202,99) ! important;
}
