<app-back-office></app-back-office>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="panel panel-primary" style="margin-top:70px;">
  <div style="background-color: rgb(52,58,64)" class="panel-heading">
    <h2>Category List</h2>
    <button (click)="addCategory()" class="btn btn-success" style="margin-left: 10px; float: right; margin-top: -45px"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <div class="panel-body" >
  <div *ngIf="categories!=null">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories | async">
        <td>{{category.idCategory}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>
          <div style="display: flex">
          <button (click)="deleteCategory(category.idCategory)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          <button (click)="categoryDetails(category.idCategory)" class="btn btn-dark" style="margin-left: 10px"><span class="glyphicon glyphicon-th-list"></span></button>
          <button (click)="updateCategory(category.idCategory)" class="btn btn-info" style="margin-left: 10px"><span class="glyphicon glyphicon-pencil"></span></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div *ngIf="showAddCategory" class="formStyleContainer">
    <div style="margin-top: 8%;width: 30%;height: 40%" class="formStyle" >
      <app-create-category (closeAll)="closeAddFromAdd($event)"></app-create-category>
      <button style="margin-left: 20%;margin-top:-13%;float:bottom" class="btn btn-dribbble" (click)="closeAdd()">Cancel</button>
    </div>
  </div>

  <div *ngIf="showModifCategory" class="formStyleContainer">
    <div style="margin-top: 8%;width: 30%;height: 40%" class="formStyle" >
      <app-update-category [idCat]="id" (closeAll)="closeAddFromAdd($event)"></app-update-category>
      <button style="margin-left: 20%;margin-top:-13%;float:bottom" class="btn btn-dribbble" (click)="closeAdd()">Cancel</button>
    </div>
  </div>

  <div *ngIf="showDetails" class="formStyleContainer">
    <div style="margin-top: 8%;width: 80%;height: 35%" class="formStyle" >
      <button style="float: right" class="btn btn-dribbble" (click)="closeAdd()">Close</button>
      <app-category-details-back [idCat]="id" (closeAll)="closeAddFromAdd($event)"></app-category-details-back>
    </div>
  </div>
</div>
