<div [@enterAnimation] class="bodyContainer">
<!--  <div *ngIf="false === true" class="main-card mb-3 card bodyCard">-->
<!--    <div class="card-body noSchBod">-->
<!--      <div class="noSchContainer">-->
<!--        No schedules to show<br><br>-->
<!--        <button class="btn btn-primary">Add Schedule</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="main-card mb-3 card schCard" [ngClass]="getTheme() ? 'bg-premium-dark' :''">
    <div [ngStyle]="{'color': getTheme()? 'white' :'black'}" class="card-header">
      Schedules
    </div>
    <div  class="card-body schBody">
      <table [ngStyle]="{'color': getTheme()? 'white' :'black'}" class="table-hover mat-calendar-table-header tableHeader">
        <thead>
        <tr class="d-table-row">
          <th class="emptyTh"></th>
          <th>
            sdsd
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-table-row">
          <td class="dayTd">
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
