.main{
  margin-top: 50px;
}

.bodyContainer{
  padding-right: 20px;
  padding-left: 20px;
}
.bodyCard{
  margin-top: -20px;
  height:530px;
}

.noSchBod{
  margin:auto;
}
.noDescBod{
  font-weight: bolder;
  font-size: 20px;
  margin:auto;
  height:250px !important;
  text-align: center !important;
  padding-top: 20%;
  padding-bottom: 50px;
}
.noSchContainer{
  padding-top: 30%;
  text-align: center;
  color:black;
  font-weight:bolder;
  font-size:25px;
  margin: 0 auto 0 -10px;
  width: 100%;
}
.schCard{
  min-height:600px;
}
.schBody{
  overflow:hidden;
  height:100% !important;
  margin-bottom: 10px;
  font-size: 13px;
}
.tableHeader{
  height: 100%;
}
.card{
  border-radius: 10px;
}
.emptyTh{
  height:35px;
}
.wrapper{
  margin-left: 40px;
  width:180px;
}
.searchContainer{
  position: absolute;
  background-color: transparent;
  margin-top: -15px;
  margin-left: -35px;
  width:170px;
}
.holder{
  max-width:195px;
}
.searchInput{
  width:160px;
}
.closeSearchButt{
  margin-left:-100px;
}
.main{
  margin-top: 50px;
}
.buttons{
  font-size: 15px;
  width: 90%;
  margin-right: -20px;
}

.addSch{
  border-radius: 15px;
  margin-left:5px;
  margin-right: 9px;
  float: right;
}
.addSch:hover{
  background:#007bff !important;
}
.wrapper{
  margin-left: 40px;
  width:180px;
}
.searchContainer{
  position: absolute;
  background-color: transparent;
  margin-top: -15px;
  margin-left: -35px;
  width:170px;
}
.holder{
  max-width:195px;
}
.searchInput{
  width:160px;
}
.closeSearchButt{
  margin-left:-100px;
}

.lightText:hover{
  color:white !important;
}

.tableTh {
  font-size: 16px;
  padding-bottom: 10px
}
.tableTd{
  padding-bottom: 10px;padding-top: 15px
}
