<div class="container">
  <nav  style="width:100%;left:0;border-radius:0px;padding-top:10px;position: fixed" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/admin/categories" class="btn btn-info" role="button" routerLinkActive="active">Categories</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="/admin/products" class="btn btn-info" role="button" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="/admin/users" class="btn btn-info" role="button" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="/admin/orders" class="btn btn-info" role="button" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;margin-top: 2px">
      <button style="height: 99%;padding-top: -7px"  class="btn btn-danger" (click)="logOut()"><span style="margin-right: 10px;" class="glyphicon glyphicon-log-out"></span>Sign out</button>
      </li>
    </ul>
  </nav>

  <hr/>
</div>

