  <div   class="prodList" (mouseleave)="hide()">
    <div class="shopping-cart">
      <!-- Title -->
      <h4 class="title">
        Shopping Bag
      </h4>

      <!-- Product #1 -->
      <div class="item">
        <div >
          <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
        </div>

        <div class="description">
          <span>Vape</span>
        </div>

        <div class="quantity">
          <button class="pmBut">+</button><br>
          <input type="text" min="1" max="10" disabled value="1"><br>
          <button class="pmBut">-</button>
        </div>

        <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

      </div>
      <!--End Item 1 -->

      <div class="item">
        <div >
          <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
        </div>

        <div class="description">
          <span>Vape</span>
        </div>

        <div class="quantity">
          <button class="pmBut">+</button><br>
          <input type="text" min="1" max="10" disabled value="1"><br>
          <button class="pmBut">-</button>
        </div>

        <div class="total-price">$549</div>

        <div class="buttons">
          <button class="delBut">X</button>
        </div>

      </div> <div class="item">
      <div >
        <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
      </div>

      <div class="description">
        <span>Vape</span>
      </div>

      <div class="quantity">
        <button class="pmBut">+</button><br>
        <input type="text" min="1" max="10" disabled value="1"><br>
        <button class="pmBut">-</button>
      </div>

      <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

    </div> <div class="item">
      <div >
        <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
      </div>

      <div class="description">
        <span>Vape</span>
      </div>

      <div class="quantity">
        <button class="pmBut">+</button><br>
        <input type="text" min="1" max="10" disabled value="1"><br>
        <button class="pmBut">-</button>
      </div>

      <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

    </div> <div class="item">
      <div >
        <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
      </div>

      <div class="description">
        <span>Vape</span>
      </div>

      <div class="quantity">
        <button class="pmBut">+</button><br>
        <input type="text" min="1" max="10" disabled value="1"><br>
        <button class="pmBut">-</button>
      </div>

      <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

    </div> <div class="item">
      <div >
        <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
      </div>

      <div class="description">
        <span>Vape</span>
      </div>

      <div class="quantity">
        <button class="pmBut">+</button><br>
        <input type="text" min="1" max="10" disabled value="1"><br>
        <button class="pmBut">-</button>
      </div>

      <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

    </div> <div class="item">
      <div >
        <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
      </div>

      <div class="description">
        <span>Vape</span>
      </div>

      <div class="quantity">
        <button class="pmBut">+</button><br>
        <input type="text" min="1" max="10" disabled value="1"><br>
        <button class="pmBut">-</button>
      </div>

      <div class="total-price">$549</div>

      <div class="buttons">
        <button class="delBut">X</button>
      </div>

    </div>
    </div>

  </div>


