<br>
<div  class="main-card mb-3 card" [ngClass]="getTheme() ? 'bg-premium-dark' : ''" style="margin-top:-8px;margin-left:5px;border: none">
  <div class="card-header">
    <i [ngStyle]="{'color': getTheme() ? 'white' : 'grey'}" style="margin-right: 15px;margin-top: -15px" class="fa fa-user-friends"></i>
    <h2 class="app-sidebar__heading" style="font-weight: bolder">Employee details
    </h2>
    <div style="width: 100%">
      <div class="buttonsContainer" [ngStyle]="{'color': getTheme() ? 'white' : ''}">
        <i *ngIf="showUpdateForm" (click)="saveUser()" matTooltip="Save" class="fa fa-save saveBut"></i>
        <i *ngIf="!showUpdateForm" (click)="showUpdateForm = true;" matTooltip="Edit user details" class="fa fa-user-edit editBut"></i>
        <i *ngIf="showUpdateForm" (click)="undoUserChanges();" matTooltip="Undo changes" class="fa fa-undo cancelBut"></i>
      </div>
    </div>
  </div>
  <div class="card-body" [ngStyle]="{'color': getTheme() ? 'white' : ''}">
    <table>
      <tr>
        <td class="tag"> Badge id:</td>
        <td class="data">
          {{newEmp.userId}}
        </td>
      </tr>
      <tr>
        <td class="tag">CIN:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.cin}}</span>
          <input  [ngClass]="getTheme() ? 'darkInput' : ''" *ngIf="showUpdateForm" [(ngModel)]="newEmp.cin" type="text"/>
        </td></tr>
      <tr>
        <td class="tag">Name:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.name}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.name" *ngIf="showUpdateForm" type="text"/>
        </td></tr>
      <tr>
        <td class="tag"> First name:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.firstName}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.firstName" *ngIf="showUpdateForm" type="text"/>
        </td></tr>
      <tr>
        <td class="tag"> gender:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.gender}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.gender" *ngIf="showUpdateForm" type="text"/>
        </td></tr>
      <tr>
        <td class="tag">Birth date:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.birthDate | date: 'dd MMMM yyyy '}}</span>
          <input [matDatepicker]="picker" [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.birthDate" *ngIf="showUpdateForm"/>
          <mat-datepicker-toggle matSuffix [for]="picker" [ngStyle]="{'color': getTheme() ? 'white' : ''}" *ngIf="showUpdateForm" style="margin-left: -40px"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </td></tr>
      <tr>
        <td class="tag">Phone number:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.phone}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.phone" *ngIf="showUpdateForm" type="text"/>
        </td></tr>
      <tr>
        <td class="tag">Email:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.email}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.email" *ngIf="showUpdateForm" type="email"/>
        </td></tr>
      <tr>
        <td class="tag">Department:</td>
        <td class="data">
          <span *ngIf="!showUpdateForm">{{newEmp.department.depName}}</span>
          <select [ngClass]="getTheme() ? 'darkInput' : ''" *ngIf="showUpdateForm"  class="custom-select" id="inputGroupSelect01"
                   [(ngModel)]='selectedDep'>
            <option *ngFor="let depp of departments" value="{{depp.depId}}" selected>
              <span>{{depp.depName}}</span>
            </option>
          </select>
        </td></tr>
      <tr>
        <td class="tag">Post:</td>
        <td class="data" *ngIf="newEmp.post !== null">
          <span *ngIf="!showUpdateForm">{{newEmp.post.postName}}</span>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" [(ngModel)]="newEmp.post.postName" *ngIf="showUpdateForm" type="text"/>
        </td>

      </tr>
    </table>
    <button style="float: right" class="btn btn-info" (click)="openChangePwDialog()">Change password</button>
  </div>
</div>
<div class="main-card mb-3 card" [ngClass]="getTheme() ? 'bg-premium-dark' : ''" style="margin-left: 3px">
  <div class="card-header">
    <i [ngStyle]="{'color': getTheme() ? 'white' : 'grey'}" style="margin-right: 15px;margin-top: -15px" class="fa fa-map-marker-alt"></i>
    <h2 class="app-sidebar__heading" style="font-weight: bolder">Employee Addresses
    </h2>
    <div style="width: 100%">
      <div class="buttonsContainer" [ngStyle]="{'color': getTheme() ? 'white' : ''}">
        <i *ngIf="showAddressUpdateForm" (click)="saveAddresses()" matTooltip="Save" class="fa fa-save saveBut"></i>
        <i *ngIf="!showAddressUpdateForm" (click)="showAddressUpdateForm = true;" matTooltip="Edit user addresses" class="fa fa-edit editBut"></i>
        <i *ngIf="showAddressUpdateForm" (click)="undoAddressesChanges()" matTooltip="Undo changes" class="fa fa-undo cancelBut"></i>
      </div>
    </div>
  </div>
  <div card-body>
    <span [ngStyle]="{'color': getTheme() ? 'white' : 'grey'}" *ngIf="emp.addresses.length == 0">No addresses to show</span>
    <table [ngStyle]="{'color': getTheme() ? 'white' : ''}" style="width: 100%" *ngIf="emp.addresses.length>0" class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th style="width: 60%">Address</th>
        <th style="width: 20%">City</th>
        <th style="width: 20%">zip Code</th>
      </tr>
      </thead>
      <tbody>
      <tr [ngClass]="getTheme() ? 'dataDark' : ''" *ngFor="let add of newEmpAddresses">
        <td class="data">
          <div style="height:24px" *ngIf="!showAddressUpdateForm">{{add.streetNumber}} {{add.streetName}}, {{add.governorate}}</div>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" style="height:24px;width: 30%" class="addIn" *ngIf="showAddressUpdateForm" type="text" matTooltip="Street number" [(ngModel)]="add.streetNumber"/>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" style="height:24px;width: 30%" class="addIn" *ngIf="showAddressUpdateForm" type="text" matTooltip="Street name" [(ngModel)]="add.streetName"/>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" style="height:24px;width: 30%" class="addIn" *ngIf="showAddressUpdateForm" type="text" matTooltip="Gouvernorate" [(ngModel)]="add.governorate"/>
        </td>
        <td class="data">
          <div style="height:24px" *ngIf="!showAddressUpdateForm">{{add.state}}</div>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" style="height:24px" class="addIn" *ngIf="showAddressUpdateForm" type="text" [(ngModel)]="add.state"/>
        </td>
        <td class="data">
          <div style="height:24px" *ngIf="!showAddressUpdateForm">{{add.zipCode}}</div>
          <input [ngClass]="getTheme() ? 'darkInput' : ''" style="height:24px" class="addIn" *ngIf="showAddressUpdateForm" type="number"  [(ngModel)]="add.zipCode"/>
        </td>
        <td *ngIf="newEmpAddresses.length > 1">
          <button type="button" id="PopoverCustomT-4" style="border-radius: 12px" class="btn btn-danger btn-sm" (click)="deleteAddress(add)" matTooltip="Delete address"><span class="fa fa-minus-circle"></span></button>
        </td>
      </tr>
      <tr *ngIf="newEmpAddresses.length == 1">
        <td colspan="3">
          <button (click)="addSecondAddress()" class="btn btn-link" style="float: right"> Add second address</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
