<app-nav [alwaysHideMinPan]=true></app-nav>

<div *ngIf="emptyTab" style="text-align:center;width: 100%;margin-top: 120px;margin-bottom: 40px">
  <h4 style="font-weight: bolder">Oups! Your shopping cart is empty</h4>
  <img style="margin-right:-15%;height: 50%;width: 50%" src="../../../assets/Images/emptyCart.png"/>
  <div style="float:right;margin-right:5%;margin-top: 10%"><h4 style="font-weight: bolder">It's okay don't panic ! </h4><a class="btn btn-success btn-lg" routerLink="/" style="color: white">Go Shopping ! </a>

  </div>
</div>


<div *ngIf="!emptyTab">
  <div [ngStyle]="{'filter':showHideImg ? 'blur(4px)' : 'none' }">
<div [ngStyle]="{'filter':showLogIns ? 'blur(4px)' : 'none' }">
    <div style="margin-top:110px;font-size: 20px" class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Shopping cart </div>

  <table class="table table-striped">

    <tbody>

    <tr *ngFor="let t of tabRes">
      <td style="padding-top: 40px">
        <button class="btn btn-danger" (click)="suppProduct(t.productToAdd.idProduct)">x</button>
      </td>
      <td>
        <img class="image" alt="Product image" title="See image" (click)="showImg(1,t.productToAdd.image)" style="cursor: pointer;border-radius: 15px; margin-right: 50px;height:100px;width:40px" src="{{t.productToAdd.image}}"/>

      </td>
      <td style="padding-top: 40px;">
        <h4>{{t.productToAdd.name}}</h4>
      </td>
      <td>
        <div class="description" style="margin-right:5px;margin-top: 20px ">
          <span>Stock: {{t.productToAdd.quantity}}</span>
          <span>{{t.productToAdd.description}}</span>
        </div>
      </td>
      <td  [ngStyle]="{'padding-top':isMobile ? '23px' : '40px'}">
        <button class="btn btn-success" (click)="incr(t.productToAdd.idProduct)" type="button" name="button">+</button>
        <span class="qte" style="margin-right: 12px">{{t.qte}}</span>
        <button class="btn btn-warning" (click)="decr(t.productToAdd.idProduct)" type="button" style="width:35px">-</button>
      </td>
      <td>
        <div class="total-price">{{t.productToAdd.price}}DT</div>
      </td>
    </tr>
    </tbody>
  </table>
  <hr style="border:1px solid lightgrey">
  <div style="margin-top: 20px;font-size: 20px" class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
  <div class="p-4">
    <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
    <ul class="list-unstyled mb-4">
      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>{{totalPrice}}DT</strong></li>
      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>10DT</strong></li>
      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>0.00DT</strong></li>
      <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted"><h3>Total</h3></strong>
        <h3 class="font-weight-bold">{{totalPrice+10}}DT</h3>
      </li>
    </ul>
    <div style="text-align: right">
      <a (click)="checkIfLoggedIn()" class="btn btn-success btn-lg" style="margin-right: 20px;color: white">Procceed to checkout</a>
      <a routerLink="/" class="btn btn-lg"><span class="cntSh">Continue shopping</span></a>
    </div>
  </div>


  </div>
</div>
  <div (click)="showImg(2,'')"  class="bg-img" [ngStyle]="{'display':showHideImg ? 'inherit' : 'none' }">
    <img src="{{imgSrc}}"/>
  </div>

  <div *ngIf="showLogIns" class="formStyleContainer">
    <div class="formStyle">
      <button style="margin-left: 5px;float: left;margin-top: 20px" class="btn btn-dribbble" (click)="closeLogIns()">Cancel</button>

     <app-login [panParent]="true" (closeAll)="closeAddFromAdd($event)" style="margin-top:7%;float: left;margin-left: 10px"></app-login>

      <app-register  [panParent]="true" (closeAll)="closeAddFromAdd($event)" style="margin-top:-20px;float: right;margin-right: 10%"></app-register>

    </div>
  </div>


</div>
<div [ngStyle]="{'filter':showHideImg ? 'blur(4px)' : 'none' }">
  <app-footer></app-footer>
</div>
