
h1{
  border-radius: 20px;
  color:black;
  font-weight:bolder;
}
mat-tree{
  background: none;
}
.item{
  width: 100%;
  color:grey;
  font-weight:bolder;
  font-size: 16px;
  cursor: pointer;
}
.item:hover{
  opacity: 0.7;
}
.expandCollapse{
  color:grey;
  cursor:pointer;
  font-size: 3px;
  margin-top: 10px;
  margin-right: 7px;
  font-weight: bolder;
}
.expandCollapse:hover{
  opacity: 0.7;
}
.fa-check-circle{
  cursor:pointer;
  color:black;
  font-size:24px;
  float:right;
  margin-top: -2px;
  margin-left: 10px;
  margin-right: -10px;
  opacity: 0.7;
}
.fa-check-circle:hover{
  color:red;
  opacity: 1;
}
.fas{
  margin-left: -2px;
}
.example-tree-progress-bar{
  width: 80px;
  margin-top: 10px;
  float:right;
}
.fa-plus{
  font-size: 14px;
}
.btn-outline-primary{
  border-radius: 12px;
  margin-top: -8px;
  margin-right: 20px;
  width: 10px;
}
.buttons{
  margin-right: -20px;
  width: 60px;
}

.noDepLi {
  font-weight: bolder;
  padding-top: 150px;
  font-size:17px;
  padding-left: 25px;
}

.noDepButt {
  width: 75px;
  height:35px;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 10px;
}
