
<div class="app-sidebar sidebar-shadow" style="margin-top: -340px;margin-left: -30px">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
      </button>
    </div>
  </div>
  <div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
      <ul class="vertical-nav-menu">
        <li class="app-sidebar__heading" style="font-size: 18px;padding-top: 10px">Departements</li>

        <li>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <span class="dis" style="width:20px" disabled></span>
            <span (click)="sendData(node.item)" class="item" style="margin-left: 22px">
     {{node.item.depName}}

    </span>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <span class="expandCollapse"
          [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </span>

            <span (click)="sendData(node.item)" class="item">{{node.item.depName}}
              <mat-progress-bar *ngIf="node.isLoading"
                                mode="indeterminate"
                                class="example-tree-progress-bar"></mat-progress-bar>
      </span>
          </mat-tree-node>

        </mat-tree>
        </li>
      </ul>
    </div>
  </div>
</div>
