
<div style="z-index:999999999999;position:fixed;top:0;margin-top: 140px;margin-left:324px;height: 200px;width: 300px">
  <app-profile *ngIf="showProfile" [connectedUser]="user"></app-profile>
</div>
<div style="margin-top: 30px;margin-left: 40px">
  <div class="search-wrapper">
    <div style="position: absolute;background-color: transparent;margin-top: -15px;margin-left: -35px;" [ngClass]="{'search-wrapper active': showHideInput}">
      <div class="input-holder" [ngClass]=" getTheme() && showHideInput? 'bg-dark' :''">
        <input [ngStyle]="{'color': getTheme()? 'white' :''}" type="text" [(ngModel)]="searchText" style="width: 100%" class="search-input" placeholder="Search...">
        <button (click)="showHideInput = true;" class="search-icon"><span></span></button>
      </div>
      <button (click)="showHideInput = false;" class="close"></button>
    </div>
  </div>
</div>
<br><br>
<div style="width: 100%;text-align:center" *ngIf="users.length == 0">
  <div [ngStyle]="{'color': getTheme()? 'white' :''}" style="font-weight:bolder;font-size:16px;padding-top: 50px">
    No attendances to show
  </div>
</div>
<table *ngIf="users.length > 0" [ngClass]="getTheme() ? 'bg-premium-dark text-light' :'text-dark'"  [ngStyle]="{'color': getTheme()? 'white' :''}" class="align-middle text-light mb-0 table table-borderless table-striped table-hover">
  <thead>
  <tr>
    <th class="text-center">Employee</th>
    <th class="text-center">Checked-in</th>
    <th class="text-center">Checked-out</th>
<!--    <th class="text-center">date</th>-->
  </tr>
  </thead>
  <tbody>
  <tr [ngClass]="getTheme() ? 'lightText' :''" [ngStyle]="{'color': getTheme()? 'white' :''}" class="emp" *ngFor="let emp of users | filter: searchText">
    <td  class="text-center" (mouseenter)="showUserProfile(emp, $event)" (mouseleave)="hideUserProfile()">
      {{emp.firstName}} {{emp.name}}
    </td>
    <td  class="text-center">
      <span class="fa fa-circle" matTooltip="{{emp.checkInMsg}}" [ngStyle]="{'color': emp.checkInStatus}"></span>
    </td>
    <td  class="text-center">
      <span class="fa fa-circle" matTooltip="{{emp.checkOutMsg}}" [ngStyle]="{'color': emp.checkOutStatus}"></span>
    </td>
  </tr>
  </tbody>
</table>
