<div  class="main-card mb-3 card" style="margin-left:15px;border: none">
  <div class="card-header">
    <div border="1" *ngIf="!thisIsEmp && clickedDep.depId!=-1" style="color:black;padding-bottom: 10px;width: 100%" >
      <span> Department: {{clickedDep.depName}}       </span>
      <div class="btn-actions-pane-right">
        <div role="group" class="btn-group-sm btn-group">
          <span *ngIf="chefDep!=null" style="float:right">Chef dep: {{chefDep.name}}</span>
        </div>
      </div>
      <div class="buttons" *ngIf="!thisIsEmp && clickedDep.depId!=-1">
        <button mat-raised-button class="btn btn-info" (click)="showAddUserDialog()" matTooltip="Add Employee">
          <span style="cursor:pointer;color:white" title="add" class="fa fa-user-plus"></span>
        </button>
        <button mat-raised-button class="btn btn-success" (click)="showAddDepDialog()" matTooltip="Add departement"><span class="fas fa-plus"></span></button>
        <button mat-raised-button class="btn btn-secondary" (click)="showUpdateDepDialog()" matTooltip="Update departement"><span class="fas fa-pencil-alt"></span></button>
        <button mat-raised-button class="btn btn-danger" (click)="showDeleteDialog()" matTooltip="Delete departement"><span class="fas fa-trash-alt"></span></button>
      </div>
    </div>
    <i *ngIf="thisIsEmp" style="color:grey;margin-right: 15px;margin-top: -15px" class="fa fa-user-friends"></i>
    <h2 *ngIf="thisIsEmp" class="app-sidebar__heading" style="font-weight: bolder">Employees
      <span style="margin-left: 30px">
      <span style="cursor:pointer" title="add" (click)="showAddUserDialog()" class="fa fa-user-plus butts"></span>
      <span title="open" [routerLink]="[{ outlets: {mainCon: ['Employees'] } }]" *ngIf="router.url != '/RemoteMonotoring/(mainCon:Employees)'" style="cursor:pointer;margin-left:15px" class="fa fa-external-link-alt butts"></span>
    </span>

    </h2><br>
    <div style="width:100%">
      <span title="close" routerLink="/RemoteMonotoring" *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)'" style="font-size:35px;margin-top:-10px;cursor:pointer;float:right" class="fa fa-compress butts"></span>

    </div>
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td>
          <h1 *ngIf="!thisIsEmp && clickedDep.depId != -1" style="margin-top: 20px;margin-right: 30px" class="empTitle">{{clickedDep.depName}} Employees </h1>
        </td>
        <td>
          <div style="position: absolute;background-color: transparent;margin-top: -15px;margin-left: -35px;" class="search-wrapper">
            <div class="input-holder">
              <input style="" type="text" [(ngModel)]="searchText" style="width: 100%" class="search-input" placeholder="Search (name, Email, Phone,...)">
              <button [ngStyle]="{'opacity':thisIsEmp || clickedDep.depId!=-1 ? '1' : '0' }" class="search-icon"><span></span></button>
            </div>
            <button class="close"></button>
          </div>
        </td>
      </tr>
    </table>

    <div style="padding-top: 5%;text-align: center;color:black;font-weight:bolder;margin:0 auto;font-size:25px;width: 100%" *ngIf="!thisIsEmp && clickedDep.depId === -1">
      <span style="font-size:30px;color:rgb(52,248,61)">Click a department to show details here</span><br><br><br><br>No Department Selected
    </div>

    <div style="width: 100%;text-align:center;margin:0;color: black;padding-top: 10%;font-weight: bolder;font-size: 20px" *ngIf="(thisIsEmp && users.length === 0) || (!thisIsEmp && clickedDep.depId!==-1 && users==null)"> No Employees to show</div>
    <div *ngIf="users!=null">
      <div class="main-card mb-3 card" style="overflow: auto;max-height: 480px;margin-top: 40px;border-radius:0" *ngIf="(users.length !=0 && thisIsEmp) || (users.length !=0 && clickedDep.depId != -1)">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp">
              <th class="text-center">N°</th>
              <th  *ngIf="router.url !== '/RemoteMonotoring/(mainCon:Departements)' ">Department</th>
              <th>Name</th>
              <th class="text-center">CIN</th>
              <th>Email</th>
              <th>Phone number</th>
            </tr>
            </thead>
            <tbody>
            <tr class="emp" *ngFor="let emp of users | filter:searchText">
              <td  *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp" class="text-center text-muted" style="padding-top: 15px">{{emp.userId}}</td>
              <td   *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' " class="text-muted" style="padding-top: 15px">{{emp.department.depName}}</td>
              <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="widget-content-left">
                        <img width="40" class="rounded-circle" src="assets/images/avatars/0.png" alt="">
                      </div>
                    </div>
                    <div class="widget-content-left flex2">
                      <div class="widget-heading">{{emp.name}} {{emp.firstName}}</div>
                      <div  class="text-muted" >{{emp.post.postName}}</div>
                    </div>
                  </div>
                </div>
              </td>
              <td  *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp" class="text-center text-muted" style="padding-top: 15px">{{emp.cin}}</td>
              <td *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp">
                <div class="widget-subheading opacity-7">{{emp.email}}</div>
              </td>
              <td *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp" >
                <div class="widget-subheading opacity-7">{{emp.phone}}</div>
              </td>
              <span *ngIf="router.url === '/RemoteMonotoring/(mainCon:Employees)' || !thisIsEmp">

                <!--              <td class="text-center">-->
                <!--                <div class="badge badge-warning">Pending</div>-->
                <!--           </td>-->
              <td *ngIf="thisIsEmp" style="float: right" class="text-center">
                <button type="button" id="PopoverCustomT-1" (click)="openDetailsDialog(emp)" class="btn btn-primary btn-sm">Employee details</button>
              </td>
                <!--                <td>{{emp.birthDay}}</td>-->
              </span>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
</div>
<app-jsloader></app-jsloader>
