<div *ngIf="role != 'user'" [@enterSecondAnimation] [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card mainCard">
<div class="card-header">
  <h3 [ngStyle]="{'color': getTheme() ? 'white' :''}" style="margin-top: 15px">
    Today's Attendance
    <img height="25" width="25" matTooltip="Live attendance" src="assets/images/stream.png" style="margin-left: 10px"/>
  </h3>
</div>
  <div *ngIf="loading" style="padding-top: 15%;width:100%">
    <div style="width:200px;margin:auto">
      <div class="spinner-container" style="">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="!loading">
    <mat-chip-list aria-label="Filter selection">
      <mat-label [ngStyle]="{'color': getTheme() ? 'white' :''}">Filter by:</mat-label>
      <mat-chip style="cursor: pointer" [selected]="selectedFilter == 'employees'" (click)="setFilter('employees')" color="primary">Employees</mat-chip>
      <mat-chip  style="cursor: pointer" [selected]="selectedFilter == 'departments'" (click)="setFilter('departments')" color="primary">Departments</mat-chip>
      <mat-chip  style="cursor: pointer" [selected]="selectedFilter == 'plannings'" (click)="setFilter('plannings')" color="primary">Plannings</mat-chip>
    </mat-chip-list>
    <br>
<!--    Employees-->
    <div [@enterThirdAnimation] *ngIf="selectedFilter =='employees'">
      <div style="margin:20px;min-height: 300px" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card">
      <app-attendance [users]="users"></app-attendance>
      </div>
    </div>
<!--    Departments-->
    <div [@enterThirdAnimation] *ngIf="selectedFilter == 'departments'">
      <div style="margin-top: 30px;margin-left: 30px">
      <div class="search-wrapper">
        <div style="position: absolute;background-color: transparent;margin-top: -15px;margin-left: -35px;" [ngClass]="{'search-wrapper active': showHideInput}">
          <div class="input-holder" [ngClass]=" getTheme() && showHideInput? 'bg-dark' :''">
            <input [ngStyle]="{'color': getTheme()? 'white' :''}" type="text" [(ngModel)]="searchText" style="width: 100%" class="search-input" placeholder="Search...">
            <button (click)="showHideInput = true;" class="search-icon"><span></span></button>
          </div>
          <button (click)="showHideInput = false;" class="close"></button>
        </div>
      </div>
      </div><br>
      <div style="margin:20px;min-height: 300px" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card" *ngFor="let dep of departments | filter: searchText">
        <div class="card-header">
          <h3 [ngStyle]="{'color': getTheme() ? 'white' :''}" style="margin-top: 15px">Department {{dep.depName}}
          </h3>
        </div>
        <div class="card-body">
          <app-attendance [users]="getAttByDep(dep)"></app-attendance>
        </div>
      </div>
    </div>
    <!--    Plannings-->
    <div [@enterThirdAnimation] *ngIf="selectedFilter == 'plannings'">
      <div style="margin-top: 30px;margin-left: 30px">
      <div class="search-wrapper">
        <div style="position: absolute;background-color: transparent;margin-top: -15px;margin-left: -35px;" [ngClass]="{'search-wrapper active': showHideInput2}">
          <div class="input-holder" [ngClass]=" getTheme() && showHideInput2? 'bg-dark' :''">
            <input [ngStyle]="{'color': getTheme()? 'white' :''}" type="text" [(ngModel)]="searchText2" style="width: 100%" class="search-input" placeholder="Search...">
            <button (click)="showHideInput2 = true;" class="search-icon"><span></span></button>
          </div>
          <button (click)="showHideInput2 = false;" class="close"></button>
        </div>
      </div>
      </div><br>
      <div style="margin:20px;min-height: 300px" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card" *ngFor="let pl of plannings  | filter: searchText2">
        <div class="card-header">
          <h3 [ngStyle]="{'color': getTheme() ? 'white' :''}" style="margin-top: 15px">Planning {{pl.planningName}}
          </h3>
        </div>
        <div class="card-body">
          <app-attendance [users]="getAttByPl(pl)"></app-attendance>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" [ngStyle]="{'color': getTheme()? 'white' :''}" class="card-footer">
    {{time | date: 'dd MMMM yyyy '}}
    <span [ngStyle]="{'color': getTheme()? 'white' :''}" class="time">{{ time | date: 'HH:mm:ss a' }}</span></div>

</div>

<div *ngIf="!loading" #empAtt [@enterThirdAnimation] [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card mainCard">
  <div class="card-header">
    <h3 [ngStyle]="{'color': getTheme() ? 'white' :''}" style="width: 100%;margin-top: 15px">
      <div *ngIf="role != 'user'" style="float: left">
       Employees attendances
      </div>
      <div *ngIf="role == 'user'" style="float: left">
        {{connectedUser.firstName}} {{connectedUser.name}} attendance
      </div>
      <span class="reasons" [ngStyle]="{'color':showAbsences ? ' rgb(82,148,226)' : getTheme() ? 'white' : 'grey' }"(click)="showHide(1)">Absences</span>
      <span class="reasons" [ngStyle]="{'color':showPoint ? ' rgb(82,148,226)' : getTheme() ? 'white' : 'grey' }" (click)="showHide(2)">Attendence</span>
    </h3>
  </div>
  <div class="card-body" style="max-height: 700px;overflow-y: auto" *ngIf="!loading">

<div *ngIf="showPoint" [@enterSecondAnimation]>
  <h1 style="margin-top:20%;margin-left: 28%" *ngIf="clickedUser == null">Select an employee to show his attendance here</h1>
  <div [@enterThirdAnimation] *ngIf="!loadingUser && clickedUser != null">
    <div style="display: inline-block;width:45%;padding: 15px;margin: 10px" *ngIf="clickedUser != null" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card">
    <h1 >Check-in</h1>
    <br>
    <table [ngClass]="getTheme() ? 'bg-premium-dark text-light' :'text-dark'"  [ngStyle]="{'color': getTheme()? 'white' :''}" class="align-middle text-light mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Time</th>
        <th class="text-center">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr [ngClass]="getTheme() ? 'lightText' :''" [ngStyle]="{'color': getTheme()? 'white' :''}" class="emp" *ngFor="let att of userCheckIns">
        <td  class="text-center">
          {{att.attendanceDate}}
        </td>
        <td  class="text-center">
          {{getTime(att.attendanceTime, 1)}}
        </td>
        <td  class="text-center">
          {{att.inputType}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
    <div style="display: inline-block;width:45%;padding: 15px;margin: 10px" *ngIf="clickedUser != null" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card">
    <h1>Check-out</h1>
    <br>
    <table [ngClass]="getTheme() ? 'bg-premium-dark text-light' :'text-dark'"  [ngStyle]="{'color': getTheme()? 'white' :''}" class="align-middle text-light mb-0 table table-borderless table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Time</th>
        <th class="text-center">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr [ngClass]="getTheme() ? 'lightText' :''" [ngStyle]="{'color': getTheme()? 'white' :''}" class="emp" *ngFor="let att of userCheckOuts">
        <td  class="text-center">
          {{att.attendanceDate}}
        </td>
        <td  class="text-center">
          {{getTime(att.attendanceTime, 1)}}
        </td>
        <td  class="text-center">
          {{att.inputType}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>

<div *ngIf="showAbsences" [@enterSecondAnimation]>
  <h1 *ngIf="clickedUser == null" style="margin-top:20%;margin-left: 28%">Select an employee to show his absences here</h1>
  <h1 *ngIf="clickedUser != null && clickedUser.absences.length == 0 && !loadingUser" style="margin-top:20%;margin-left: 37%">No absences to show</h1>
  <div [@enterThirdAnimation] *ngIf="!loadingUser && clickedUser != null && clickedUser.absences.length > 0">
    <div style="width:100%;padding: 15px;margin: 10px" *ngIf="clickedUser != null" [ngClass]="getTheme() ? 'bg-premium-dark' :''" class="card">

      <table [ngClass]="getTheme() ? 'bg-premium-dark text-light' :'text-dark'"  [ngStyle]="{'color': getTheme()? 'white' :''}" class="align-middle text-light mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center">Type</th>
          <th class="text-center">Reason</th>
          <th ></th>
          <th >State</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="getTheme() ? 'lightText' :''" [ngStyle]="{'color': getTheme()? 'white' :''}" class="emp" *ngFor="let abs of clickedUser.absences">
          <td  class="text-center">
            {{abs.absenceDate}} <span *ngIf="abs.absenceDate == format.format(date, 'YYYY-MM-DD', null)" style="margin-right: -45px;color: red"> Today</span>
          </td>
          <td  class="text-center">
           {{abs.absenceType}} <span *ngIf="abs.absenceType != 'All day'"> (By: {{getTime(abs.absentMinutes, 2)}})</span>
          </td>
          <td>
           <button (click)="openAbsenceVerificationSheet(abs)" matTooltip="{{getMessage(abs.reasonStatus)}}" *ngIf="abs.reason != null" class="{{abs.reasonStatus}} reasonBtn"> {{abs.reason}}</button>
           <button disabled style="cursor: default" *ngIf="abs.reason == null" class="btn btn-info reasonBtn">No reason provided</button> <div [ngStyle]="{'color': getTheme()? 'white' :''}" *ngIf="abs.revisedBy != null" style="float: right;width: 47%;margin-left: 10px">Revised by : {{abs.revisedBy}}</div>
          </td>
          <td *ngIf="clickedUser.userId == connectedUser.userId && abs.reason == null">
            <button class="btn btn-link" (click)="updateAbs(abs)">Provide reason <span style="margin-left: 5px" class="fa fa-arrow-circle-right"></span></button>
          </td>
          <td #element *ngIf="clickedUser.userId == connectedUser.userId && abs.reason != null && abs.reasonStatus == 'btn btn-warning'">
            <button class="btn btn-link" (click)="updateAbs(abs)">Update reason <span style="margin-left: 5px" class="fa fa-arrow-circle-right"></span></button>
          </td>
          <td>{{getState(abs)}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
  </div>
</div>
