
.time{
  color: black;
  margin-left: 80%;
}
.card-footer{
  border-top: 0 !important;
  color:black;
  font-weight: bolder;
  font-size: 17px;
  width: 100%;
}

.schItem{
  font-size: 15px;
  text-decoration: none;
  background-color:transparent;
  display: block;
  line-height: 2.4rem;
  height: 2.4rem;
  position: relative;
  border-radius: .25rem;
  color: #343a40;
  white-space: nowrap;
  transition: all .2s;
  margin: .1rem 0;
}
.schItem:hover{
  background-color:rgb(224,243,255);
  cursor: pointer;
}

.schIconSpan{
  font-size: 16px;
  border: none;
}
.schIconSpan:hover{
  color:lightgrey;
  background-color: transparent;
}

.buttons{
  font-size: 15px;
  margin-right: -20px;
  width: 30px;
}
