<div class="bg"></div>
<div class="bgImg"></div>
<div class="bigContainer">
  <div class="container">
    <!--<div class="titleContainer">
     <h1>Remote Time Management app</h1>
    </div>-->
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
        </div><br>
        <div class="card-body">
          <div  style="height: 20px;margin-top: -20px;margin-bottom: 15px">
            <mat-error *ngIf="showError">Username or password Invalid or does not exist !</mat-error>
          </div>
          <form [formGroup]="signInForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span style="padding-left: 18px;background-color: rgb(82,148,226);" class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input
                type="text"
                required
                class="form-control"
                placeholder="CIN"
                [(ngModel)]="login.cin"
                formControlName="cin"
              >
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span style="padding-left: 18px;background-color: rgb(82,148,226);" class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input
                style="border:none;"
                [type]="passType"
                class="form-control"
                placeholder="password"
                required
                [(ngModel)]="login.password"
                formControlName="password"
              >
              <div class="input-group-append">
                <span (mousedown)="passType = 'text'" (mouseup)="passType ='password'" style=";background-color: rgb(232,240,254);cursor:pointer;color:black" class="input-group-text">
                  <i *ngIf="passType === 'text'" style="margin-right: -1px" class="fas fa-eye-slash"></i>
                  <i *ngIf="passType === 'password'"  matTooltip="Peek" class="fas fa-eye"></i>
                </span>
              </div>
            </div>

            <div class="row align-items-center remember" style="padding-left: 35px;padding-top: 5px">
              <mat-checkbox color="primary"  (click)="rememberChecked()" >Remember Me</mat-checkbox>
            </div>
            <div class="form-group">
              <input type="submit" value="Login" (click)="submit()" [disabled]="!signInForm.valid"  class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#" class="links">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
