.bg{
  background-color: black;
  opacity: 0.3  ;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.mat-checkbox  {
  transform: scale(1.2)  !important;
}

.bgImg{
    background-image: url('../../../assets/images/bgImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.bigContainer{
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  font-family: 'Numans', sans-serif;
}
.container{
  height: 100%;
  align-content: center;
}
.titleContainer{
  position: fixed;
  left:60px;
  padding: 15px 10px ;
  width: 400px;
  color: white;
  top:35%;
  opacity:0.7;
  border-radius: 15px;
  text-align:center;
  -webkit-box-shadow: 0px 0px 40px 23px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 40px 23px rgba(0,0,0,1);
  box-shadow: 0px 0px 40px 23px rgba(0,0,0,1);

}
h1{
  font-weight: bolder;
  font-size: 270%;
}
.card{
  -webkit-box-shadow: 3px 3px 4px 1px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 4px 1px rgba(0,0,0,1);
  box-shadow: 3px 3px 4px 1px rgba(0,0,0,1);
  border-radius: 15px;
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
  color: white;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

}

.remember{
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: black;
  background-color: rgb(82,148,226);
  width: 100px;
}
.card-header{
  margin:10px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  background-color: rgb(82,148,226);
}
.login_btn:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}
