<app-category-list style="margin-top:10px;" ></app-category-list>

<div id="slides" style="margin-top:130px" class="carousel slide"  data-ride="carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div id="bgDiv"  [ngStyle]="{'height':isMobile ? '300px' : 'auto' }" class="carousel-inner">
      <div class="item active">
        <img src="../../../assets/Images/bg1.jpg" [ngStyle]="{'max-height':isMobile ? '300px' : 'auto' }" style="cursor:pointer"/>

        <div style="width:85%;height:100%;margin-left: -12%" class="carousel-caption slide"><br><br>
          <div class="container-fluid padding">
            <div class="row welcome text-center" [ngStyle]="{'margin-left':isMobile ? '30px' : 'auto' }">
              <div [ngStyle]="{'font-size':isMobile ? '4.9px' : 'auto' }" style="font-size:11px" class="col-12">
                <div style="text-align: center;"  [ngStyle]="{'margin-right':isMobile ? '-10em' : 'auto' }">
                  <h1 class="display-4" [ngStyle]="{'margin-top':isMobile ? '-10px' : 'auto' }" style="font-weight:normal;" >Welcome to the <span style="font-weight: bold;">Vape Or DIE</span><span style="color: rgb(255,202,99);"> website</span></h1>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="../../../assets/Images/bg2.jpeg" [ngStyle]="{'max-height':isMobile ? '300px' : 'auto' }" style="cursor:pointer"/>
        <div style="width:85%;height:80%;margin-left: -12%" class="carousel-caption slide">
          <div class="container-fluid padding">
            <div class="row welcome text-center">
              <div [ngStyle]="{'font-size':isMobile ? '3.7px' : 'auto' }" style="font-size:11px" class="col-12">
                <div [ngStyle]="{'margin-right':isMobile ? '-15em' : 'auto' }" style="text-align: center;">

                  <h1 class="display-4" style="font-weight:normal" >Check out our<br><span style="color: rgb(255,202,99);"> Awesome Products</span></h1><br>
                  <ul class="list-unstyled list-inline text-center py-2">

                    <li class="list-inline-item">
                      <a class="btn btn-danger btn-rounded">Products</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <img id="bg3" src="../../../assets/Images/bg3.jpg" [ngStyle]="{'max-height':isMobile ? '300px' : 'auto' }" style="width:100%;">
        <div style="width:85%;height:80%;margin-left: -12%  " class="carousel-caption slide">
          <div class="container-fluid padding">
            <div  class="row welcome text-center">
              <div [ngStyle]="{'font-size':isMobile ? '3.7px' : 'auto' }" style="font-size:11px" class="col-12">
                <div [ngStyle]="{'margin-right':isMobile ? '-15em' : 'auto' }"  style="text-align: center;">
                  <h1 class="display-4" style="font-weight:normal;" >Need a hand ?<br><span style="color: rgb(255,202,99);"> Check out our tools</span></h1>
                  <ul class="list-unstyled list-inline text-center py-2">

                    <li class="list-inline-item">
                      <a href="#eve" class="btn btn-danger btn-rounded">Tools</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<br>
<h3>Products: </h3>
<app-product-list></app-product-list>
<app-footer></app-footer>
