<nav id="nav" style="diplay:flex;border-radius:0px;position: fixed;width:100%;z-index:666 " class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
  <div class="container-fluid">
    <img src="../../../assets/Images/Logo2.png" routerLink="/" height="70px" style="margin-left: -20px;cursor:pointer"/>
    <a class="navbar-brand" routerLink="/" style="margin-left: -30px;margin-top:10px;margin-left:1px" >
      <span class="guilty">Vape </span><span class="team">or </span><span class="guilty">DIE </span>

    </a>
    <button class="navbar-toggler" type="button" style="margin-left: -30px" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  style="width:100%;height:100%"  class="collapse navbar-collapse" id="navbarResponsive">
      <ul style="float:right" class="navbar-nav ml-auto">

        <li class="nav-item">
          <a [className]="acHome ? 'nav-link active' : 'nav-link'"  routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a [className]="acCon ? 'nav-link active' : 'nav-link'"  routerLink="/Contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a [className]="acLogReg ? 'nav-link active' : 'nav-link'" routerLink="/Login" title="Your account"><span class="glyphicon glyphicon-user"></span></a>
        </li>
      </ul>

    </div>

    <img src="../../../assets/Images/panier.png" routerLink="/panier" (mouseenter)="hideShowPan(1)" height="30px" style="z-index:6666666666;cursor:pointer;float: right" title="Shopping cart"/>

   </div>

</nav>
<app-mini-panier *ngIf="!hideMinPan" class="panComp" [@smoothCollapse]="isOnP?'initial':'final'" (mouseleave)="hideShowPan(2)" ></app-mini-panier>

