

<div   class="prodList" (mouseenter)="recup()" (mouseleave)="hide()">
    <div class="shopping-cart">
      <!-- Title -->
      <h4 class="title">
        Shopping Bag
      </h4>
<!--End Item 1 -->
      <div class="item" *ngFor="let t of tabRes">
        <div >
          <img class="image" src="../../../assets/Images/VapeEx.png" alt="" />
        </div>

        <div class="description">
          <span>{{t.name}}</span>
        </div>

        <div class="quantity">
          <button (click)="incr(t.id)" class="pmBut">+</button><br>
          <div class="qte">{{t.qte}}</div><br>
          <button (click)="decr(t.id)" class="pmBut">-</button>
        </div>

        <div class="total-price">{{t.price}} DT</div>

        <div class="buttons">
          <button (click)="suppProduct(t.id)" class="delBut">X</button>
        </div>
    </div>

    </div>

  </div>
