<div *ngIf="loading" style="padding-top: 15%;width:100%">
  <div style="width:200px;margin:auto;padding-left: 70px">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="!loading" class="container" style="margin-top: 140px">
<div class="main-card mb-3 card" [ngClass]="getTheme() ? 'bg-premium-dark' : ''">
<div class="card-body">
  <div class="avatar-container">
    <img width="160" height="160" class="avatar" *ngIf="retrievedImage == null"  src="../../assets/images/avatars/0.png">
    <img width="160" height="160" class="avatar" *ngIf="retrievedImage != null" [src]="retrievedImage"  >
  </div>
  <div class="info">
    <div class="title">
      <span>{{connectedUser.name}} {{connectedUser.firstName}}</span>
    </div>
    <div [ngStyle]="{'color': getTheme() ? 'white' : ''}">
    <div class="desc">{{connectedUser.post.postName}}</div>
    </div>
  </div>
  <div style="text-align: left">
  <app-employee-details [emp]="connectedUser"></app-employee-details>
  </div>
</div>
</div>
</div>
