.avatar{
  border-radius: 200px;
}
.avatar-container{
  margin-top: -70px;
}
.card{
  text-align:center;
  border-radius: 20px;
  min-height: 300px;
}
.info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #3f6ad8;
  font-weight: bold;
  vertical-align: middle;
}
.info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.info {
  margin-top: 20px;
  padding: 4px 8px 10px;
}
