.avatar{
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-radius: 200px;
}
.avatar-container{
  margin-top: -70px;
}
.card{
  text-align:center;
  border-radius: 20px;
  min-height: 300px;
}
.info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #3f6ad8;
  font-weight: bold;
  vertical-align: middle;
}
.info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  text-overflow: ellipsis;
}
.info {
  margin-top: 20px;
  padding: 4px 8px 10px;
}
.saveBut{
  cursor: pointer;
  margin-right: 20px;
}
.saveBut:hover{
  color:rgb(52,248,61);
}

.cancelBut:hover{
  cursor: pointer;
  color:red;
}

.buttonsContainer{
  font-size: 25px;
  padding-left: 100px;
  margin-top: -12px;
  float:right;
}
