<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

  <app-nav></app-nav>

  <div class="app-main" style="height: 100%">
    <div class="app-main__outer">
      <app-departements *ngIf="router.url === '/RemoteMonotoring/(mainCon:Departements)'" [@enterAnimation] (outPutData)="setClickedDep($event)"></app-departements>
      <app-employees *ngIf="router.url === '/RemoteMonotoring/(mainCon:Departements)'" [@enterSecondAnimation]></app-employees>
    </div>
  </div>
</div>
