<div  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

  <app-nav></app-nav>

  <div class="app-main" style="height: 100%">
    <div class="app-main__outer">
      <!--Absences-->
        <div [@enterAnimation] *ngIf="router.url === '/RemoteMonotoring' || router.url === '/RemoteMonotoring/(mainCon:Absences)'" class="app-sidebar sidebar-shadow" style="max-width: 380px;margin-top: 0px;margin-left: -300px">

          <app-employees></app-employees>

        </div>

       <div [@enterSecondAnimation]  *ngIf="router.url === '/RemoteMonotoring' || router.url === '/RemoteMonotoring/(mainCon:Absences)'" class="card mainCard">

          <div class="card-body">
            <router-outlet  name="secCon"></router-outlet>
          </div>
          <div class="card-footer">
            {{time | date: 'dd MMMM yyyy '}} <span class="time">{{ time | date: 'HH:mm:ss a' }}</span></div>

        </div>

      <!--Departments-->
      <app-departments *ngIf="router.url === '/RemoteMonotoring/(mainCon:Departments)'" [@enterAnimation] (outPutData)="setClickedDep($event)"></app-departments>
      <app-employees *ngIf="router.url === '/RemoteMonotoring/(mainCon:Departments)'" (outPutData)="reloadDep($event)" [@enterSecondAnimation]></app-employees>

    </div>
  </div>

  <!--the rest-->
    <router-outlet *ngIf="router.url !== '/RemoteMonotoring' && router.url !== '/RemoteMonotoring/(mainCon:Absences)' && router.url !== '/RemoteMonotoring/(mainCon:Departments)'" style="margin: 15px" name="mainCon"></router-outlet>
</div>

