<div [ngClass]="getTheme() ? 'app-header header-shadow bg-premium-dark sidebar-text-dark header-text-light':  'app-header header-shadow bg-light sidebar-text-dark header-text-dark'">
  <div class="app-header__logo">
    <a style="cursor: pointer" routerLink="../RemoteMonitoring" class="navbar-brand">
      <div class="logo-src">Remote monitoring</div>
    </a>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic is active" data-class="closed-sidebar">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
  </span>
  </div>
  <div class="app-header__content">

    <div class="app-header-right" style="width: 100% !important;">
      <div class="app-header-left" style="float: left;width: 100%">
        <ul class="header-menu nav">
          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Absences'] } }]" class="nav-link" href="#">Absences</a>
          </li>
          <li class="btn-group nav-item">

            <a [routerLink]="[{ outlets: {mainCon: ['Departments'] } }]" class="nav-link">Departments</a>
          </li>
          <li class="btn-group nav-item">

            <a [routerLink]="[{ outlets: {mainCon: ['Employees'] } }]" class="nav-link">Employees</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Administrators'] } }]" class="nav-link">Administrators</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['TimeTables'] } }]" class="nav-link">Time Table</a>
          </li>
        </ul>
      </div>
      <div class="header-btn-lg pr-0" style="float: right !important;">
        <div class="widget-content p-0" style="float: right">
          <div class="widget-content-wrapper">
            <div class="widget-content-left">
              <div *ngIf="getTheme()" class="btn-group">
                <button mat-button [matMenuTriggerFor]="menu" class="p-0 btn">
                  <img width="48" height="45" class="rounded-circle" [src]="this.imageModel.picByte" alt="">
                  <i class="fa fa-angle-down ml-2 opacity-8"></i>
                </button>
                <mat-menu  class="bg-dark" #menu="matMenu">T
                  <div class="menuContent">
                    <button class="dropdown-item btnDark bg-dark" style="color:white" [routerLink]="[{ outlets: {mainCon: ['Profile'] } }]">User account</button>
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button type="button" tabindex="0" (click)="logout()" class="dropdown-item btnDark bg-dark" style="color:white">Log out</button>
                  </div>
                </mat-menu>
              </div>
            <div *ngIf="!getTheme()" style="margin-right: -16px" class="btn-group">
              <button mat-button [matMenuTriggerFor]="menu2" class="pT-0 btn">
                <img width="48" height="45" class="rounded-circle" [src]="this.imageModel.picByte" alt="">
                <i class="fa fa-angle-down ml-2 opacity-8"></i>
              </button>

              <mat-menu  #menu2="matMenu">
                <div class="menuContent">
                  <button class="dropdown-item" [routerLink]="[{ outlets: {mainCon: ['Profile'] } }]">User account</button>
                  <div tabindex="-1" class="dropdown-divider"></div>
                  <button type="button" tabindex="0" (click)="logout()" class="dropdown-item">Log out</button>
                </div>
              </mat-menu>
            </div>
          </div>
            <div class="widget-content-left  ml-3 header-user-info">
              <div class="widget-heading">
                {{this.user.name}} {{this.user.firstName}}
              </div>
              <div *ngIf="this.user.post != null" class="widget-subheading">
                {{this.user.post.postName}}
              </div>
            </div>
            <div style="margin-top: 4px;margin-left: 40px">
              <div class="swatch-holder bg-light switch-header-cs-class" mat-raised-button (click)="setTheme(false)" *ngIf="getTheme()" style="cursor: pointer" matTooltip="Light mode" data-class="bg-light sidebar-text-dark header-text-dark">
              </div>
              <div class="swatch-holder bg-premium-dark switch-header-cs-class"  mat-raised-button (click)="setTheme(true)" *ngIf="!getTheme()"  style="cursor: pointer" matTooltip="Dark mode" data-class="bg-premium-dark sidebar-text-dark header-text-light">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
