<div class="bigContainer">
<div class="fixed-top">

  <nav style="background-color:#0A0012;opacity: 0.8" class="navbar navbar-expand-md navbar-dark   sticky-top ">
    <div class="container" >
      <a style="cursor: pointer" routerLink="../RemoteMonotoring" class="navbar-brand"> Remote Monotoring app</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Absences'] } }]" class="nav-link" href="#">Absences</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Departements'] } }]" class="nav-link" href="">Departements</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Administrators'] } }]" class="nav-link" href="">Administrators</a>
          </li>

          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['TimeTables'] } }]" class="nav-link" href="">Time Tables</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="[{ outlets: {mainCon: ['Profile'] } }]" href="">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link signOut" style="color:white" href="#">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>
