<div [ngClass]="getTheme() ? 'navbar app-header header-shadow bg-premium-dark sidebar-text-dark header-text-light':  'navbar app-header header-shadow bg-light sidebar-text-dark header-text-dark'">
  <div class="app-header__logo">
    <a style="cursor: pointer" routerLink="../RemoteMonitoring" class="navbar-brand">
      <div class="logo-src">Remote monitoring</div>
    </a>
    <div class="header__pane ml-auto">
      <div>
        <button (click)="setClosedSideBarValue()" type="button" class="hamburger close-sidebar-btn hamburger--elastic is active" data-class="closed-sidebar">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
  </span>
  </div>
  <div class="app-header__content">

    <div class="app-header-right" style="width: 100% !important;">
      <div class="app-header-left" style="float: left;width: 100%">
        <ul class="header-menu nav">
          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['Absences'] } }]" [ngClass]="router.url === '/RemoteMonitoring/(mainCon:Absences)' || router.url === '/RemoteMonitoring' ? 'current' : ''" class="nav-link">Attendance</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin() || isChefDep() || isSuperAdmin()">
            <a [routerLink]="[{ outlets: {mainCon: ['Departments'] } }]" [ngClass]="router.url === '/RemoteMonitoring/(mainCon:Departments)' ? 'current' : ''" class="nav-link active">Departments</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin() || isSuperAdmin()">
            <a [routerLink]="[{ outlets: {mainCon: ['Employees'] } }]" [ngClass]="router.url === '/RemoteMonitoring/(mainCon:Employees)' ? 'current' : ''" class="nav-link">Employees</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[{ outlets: {mainCon: ['TimeTables'] } }]" [ngClass]="router.url === '/RemoteMonitoring/(mainCon:TimeTables)' ? 'current' : ''" class="nav-link">Time Table</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin() || isSuperAdmin()">
            <a [routerLink]="[{ outlets: {mainCon: ['Posts'] } }]" [ngClass]="router.url === '/RemoteMonitoring/(mainCon:Posts)' ? 'current' : ''" class="nav-link">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin() || isSuperAdmin()"  [matMenuTriggerFor]="menuDB" (click)="openedDataBaseMenu = true">
              Database
              <i [ngStyle]="{'color': openedDataBaseMenu ? '#007bff' : ''}" class="fa fa-angle-down ml-2 opacity-8"></i>
            </a>
            <mat-menu (close)="openedDataBaseMenu = false" [class]="getTheme() ? 'bg-dark': ''" class="dbMenu" xPosition="after" #menuDB="matMenu">
              <div class="menuContent" style="width: 100% !important;">
                <button (click)="importDB()" matTooltip="Import an external database" [ngClass]="getTheme() ? 'dropdown-item btnDark bg-dark': 'dropdown-item'" [ngStyle]="{'color': getTheme()? 'white' :''}">Import</button>
                <button style="margin-top: 15px" (click)="rollBack()" matTooltip="Rollback to previous version" [ngClass]="getTheme() ? 'dropdown-item btnDark bg-dark': 'dropdown-item'" [ngStyle]="{'color': getTheme()? 'white' :''}">Rollback</button>
                <div tabindex="-1" class="dropdown-divider"></div>
                <button type="button" tabindex="0" (click)="exportDB()" [class]="getTheme() ? 'btnDark': ''" [ngClass]="getTheme() ? 'dropdown-item bg-dark': 'dropdown-item'" [ngStyle]="{'color': getTheme()? 'white' :''}">
                  <span matTooltip="Back-up your database">Export</span>
                  <span style="float:right;margin-top: 5px;font-size:16px;color: #007bff" matTooltip="Daily back-up enabled" class="fa fa-info-circle"></span>
                </button>
              </div>
            </mat-menu>
          </li>

        </ul>
      </div>
      <div class="header-btn-lg pr-0" style="float: right !important;">
        <div class="widget-content p-0" style="float: right !important;">
          <div class="widget-content-wrapper">
            <div class="widget-content-left">
              <div class="btn-group">
                <div mat-button style="width: 70px" [matMenuTriggerFor]="menu" (click)="openedMenu = true" class="p-0 btn openMenuButt" >
                  <img width="50" height="51" class="rounded-circle" *ngIf="connectedUser.image === '' ||  retrievedImage === null"  src="../../assets/images/avatars/0.png"  alt="">
                  <img width="48" height="45" class="rounded-circle" *ngIf="connectedUser .image !== '' &&  retrievedImage !== null" [src]="retrievedImage" alt="">
                  <i [ngStyle]="{'color': openedMenu ? '#007bff' : ''}" class="fa fa-angle-down ml-2 opacity-8"></i>
                </div>
                <mat-menu (close)="openedMenu = false" [class]="getTheme() ? 'bg-dark': ''" class="userMenu" xPosition="before" #menu="matMenu">
                  <div class="menuContent">
                    <button [class]="router.url === '/RemoteMonitoring/(mainCon:Profile)' ? 'current' : ''" [ngClass]="getTheme() ? 'dropdown-item btnDark bg-dark': 'dropdown-item'" [ngStyle]="{'color': getTheme()? 'white' :''}"  [routerLink]="[{ outlets: {mainCon: ['Profile'] } }]">User account</button>
                    <div tabindex="-1" class="dropdown-divider"></div>
                    <button type="button" tabindex="0" (click)="logout()" [class]="getTheme() ? 'btnDark': ''" [ngClass]="getTheme() ? 'dropdown-item bg-dark': 'dropdown-item'" [ngStyle]="{'color': getTheme()? 'white' :''}">Log out</button>
                  </div>
                </mat-menu>
              </div>
            </div>
            <div class="widget-content-left  ml-3 header-user-info">
              <div class="widget-heading">
                {{connectedUser.name}} {{connectedUser.firstName}}
              </div>
              <div *ngIf="connectedUser.post != null" class="widget-subheading">
                {{connectedUser.post.postName}}
              </div>
            </div>
            <div>
              <mat-icon matBadge="{{notViewdNotifs}}" matBadgeColor="warn" (click)="viewAll()" [matMenuTriggerFor]="menu2" [ngStyle]="{'color': openedNotif ? '#007bff' : getTheme()? 'white' :'dimgrey'}" class="fa fa-bell notifBell openMenuButt"></mat-icon>
              <mat-menu (close)="openedNotif = false;" [class]="getTheme() ? 'notifMenu bg-dark': 'notifMenu'" #menu2="matMenu" xPosition="before">
                <div class="notifDiv" style="text-align: center" *ngIf="notifs.length == 0">
                  <div [ngStyle]="{'color': getTheme()? 'white' :'dimgrey'}" class="noNotifMessage"> No notifications to show</div>
                </div>
                <div class="notifDiv" *ngIf="notifs.length > 0">
                  <h1 style="margin-left: 15px">
                    <span [ngStyle]="{'color': getTheme()? 'white' :'dimgrey'}"> Notifications <button style="float: right;text-decoration: none" (click) = "clearAllNotifications($event)" class="btn btn-link">clear all</button></span>
                  </h1>
                  <hr [ngStyle]="{'border-color': getTheme() ? 'grey': 'black'}" style="width: 80%;margin-left: 15px;margin-top: -5px;margin-bottom: 20px">
                  <table style="width: 100%;margin-left: 10px" class="mb-0 table table-borderless" [ngClass]="getTheme()? 'table-dark': ''">
                    <tbody>
                    <tr [ngStyle]="{'cursor': ntf.idTarget != 0 ? 'pointer' : ''}" (click)="verifYUser(ntf)" style="padding: 3px" *ngFor="let ntf of notifs">
                      <td style="border-radius: 10px">
                        <div (mouseleave)="viewOne(ntf)" class="notifContainer"  [ngClass]="!ntf.isHovered && getTheme() ? 'notifContainerNotHovered notifContainerNotHoveredDark' : !ntf.isHovered && !getTheme() ? 'notifContainerNotHovered notifContainerNotHoveredLight' :
                     !getTheme() ?  'notifContainerDark' : 'notifContainerLight'" [ngStyle]="{'background-color': !ntf.isHovered && getTheme()? '#454d55' : !ntf.isHovered && !getTheme()? '#dee2e6' : '' }">
                          <h2 style="font-size: 20px !important;">
                            {{ntf.notifTitle}}
                          </h2>
                          <div style="margin-left: 10px;margin-top: -10px">
                            <span style="font-size: 14px">{{ntf.notifDesc}}</span><br>
                            <span style="padding-top: 5px;float: right">
                        <span style="font-size: 12px;color: grey !important;">{{ntf.notifDate  | date: 'dd MMMM yyyy '}}, {{ntf.notifDate | date: 'HH:mm'}}</span>
                      </span>
                          </div>
                        </div>
                        <div style="float: right;width: 6%;color:#3f6ad8;padding-right: 10px">
                          <div style="padding-left: 28px;margin-bottom: 30px">
                            <span (click)="deleteNotif($event, ntf)" matTooltip="Delete" [ngStyle]="{'color': getTheme() ? 'white' :'grey'}" class="fa fa-trash-alt deleteNotif"></span>
                          </div>
                          <div *ngIf="!ntf.isHovered" matTooltip="Unseen">
                            <span style="font-size: 20px;margin-left: 10px" class="fa fa-exclamation-circle"></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </mat-menu>
            </div>
            <div style="margin-top: 4px;margin-left: 40px">
              <div class="swatch-holder bg-light switch-header-cs-class" mat-raised-button (click)="setTheme(false)" *ngIf="getTheme()" style="cursor: pointer" matTooltip="Light mode" data-class="bg-light sidebar-text-dark header-text-dark">
              </div>
              <div class="swatch-holder bg-premium-dark switch-header-cs-class"  mat-raised-button (click)="setTheme(true)" *ngIf="!getTheme()"  style="cursor: pointer" matTooltip="Dark mode" data-class="bg-premium-dark sidebar-text-dark header-text-light">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
