.bigContainer {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f7f7f7;
  margin:0;
}
.navbar-brand{
color:white;
  font-weight: bolder;
  margin-left:-20px;
font-size: 23px;
}
.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}
.signOut{
  margin-left:80px;
  margin-right: -80px;

}
a{
  color:white !important;
}
a:hover{
  opacity: 0.7;
}
