<div *ngIf="formGroup3 == null" style="padding-top: 15%;width:100%">
  <div style="width:200px;margin:auto;padding-left: 55px">
    <div class="spinner-container" style="">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<div *ngIf="formGroup3 != null">
<mat-horizontal-stepper [linear]="isLinear" #stepper  style="margin-bottom: -100px;margin-top: -20px">
  <mat-step>
    <ng-template matStepLabel>Schedule Info</ng-template>
    <br>
<div class="main-card mb-3 card">
    <div class="card-header">
      <h1><S></S>Schedule</h1>
      <hr>
    </div>
    <div class="card-body" style="min-height: 300px">
      <div style="margin-bottom: 40px">
      <button class="btn btn-info" (click)="isNewSch()" *ngIf="newSch && schedules.length > 0" style="float: right">Existing schedule</button>
      <button class="btn btn-info" (click)="isNewSch()" *ngIf="!newSch" style="float: right">New schedule</button>
      </div>

      <div *ngIf="!newSch" style="padding-top: 40px" [@enterAnimation]>
        <div class="line" style="margin-bottom: 40px" *ngIf="pl != null">
          <label>Current schedule</label>
          <input disabled type="text"  class="form-control" [value]="returnSchDesc(schedule)">
        </div>
        <div class="line">
        <select
          required
          class="custom-select"
          id="inputGroupSelect01"
          (change)="setSchedule($event)"
        >
          <option style="color: grey;" selected disabled *ngIf="pl == null" [ngValue]="schedule">Choose a Schedule: </option>
          <option style="color:#3f6ad8;font-weight: bolder" selected *ngIf="pl != null" [value]="pl.schedule">Unchanged</option>
          <option *ngFor="let sch of schedules" value="{{sch.scheduleId}}">
            <span>{{returnSchDesc(sch)}}</span>
          </option>
        </select>
        </div>
      </div>
        <div *ngIf="newSch" [@enterAnimation]>
          <form [formGroup]="formGroup3">

            <div class="timeLabel">
              <mat-label>Daily cycle</mat-label>
            </div>
            <input
              [format]="24"
              class="choseTime"
              placeholder="Begin hour"
              formControlName="beginHour"
              #pickerBeginHour
              [ngxTimepicker]="picker3"
              [(ngModel)]="beginHour"
            >
            <ngx-material-timepicker class="timePicker" #picker3></ngx-material-timepicker>
         <input
              [format]="24"
              class="choseTime"
              placeholder="End hour"
              formControlName="endHour"
              #pickerEndHour
              [min]="pickerBeginHour.value"
              [ngxTimepicker]="picker4"
              [(ngModel)]="endHour"
            >
            <ngx-material-timepicker class="timePicker" #picker4></ngx-material-timepicker>

          </form>
          <br><br>
          <form [formGroup]="formGroup2">
             <mat-checkbox (change)="schedule.pauseTime = !schedule.pauseTime"> Pause time
              </mat-checkbox><br>
              <div class="pauseTimeDiv">
                <table *ngIf="schedule.pauseTime">
                  <tr><td>
                    <input
                      [format]="24"  readonly
                      class="choseTime"
                      placeholder="Pause begin hour"
                      formControlName="pauseStartHour"
                      [min]="pickerBeginHour.value"
                      [max]="pickerEndHour.value"
                      #pickerPauseBeginHour
                      [ngxTimepicker]="picker5"
                      [(ngModel)]="pauseStartHour"
                    >
                    <ngx-material-timepicker class="timePicker" #picker5></ngx-material-timepicker>
                  </td><td> <input
                    [format]="24"  readonly
                    class="choseTime"
                    formControlName="pauseEndHour"
                    placeholder="pause end hour"
                    [min]="pickerPauseBeginHour.value"
                    [max]="pickerEndHour.value"
                    [ngxTimepicker]="picker6"
                    [(ngModel)]="pauseEndHour"
                  >
                    <ngx-material-timepicker class="timePicker" #picker6></ngx-material-timepicker>
                  </td>  </tr>
                </table>
              </div>

          </form>
        </div>
    </div>
</div>
        </mat-step>
        <mat-step>
          <ng-template *ngIf="pl == null;" matStepLabel>Fill out planning info</ng-template>
          <ng-template *ngIf="pl != null;" matStepLabel>Planning info</ng-template>
          <br>
          <div class="main-card mb-3 card main">
            <div class="card-header">
              <h1>Planning details</h1>
              <hr>
            </div>
            <div class="card-body">

      <form [formGroup]="formGroup">
        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Planning Name</mat-label>
              <input
                matInput
                required
                id="inputScheduleName"
                placeholder="Planning name"
                formControlName="schName"
                [(ngModel)]="planning.planningName"
                >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Planning Description</mat-label>
              <input
                matInput
                [ngModelOptions]="{standalone: true}"
                id="inputScheduleDesc"
                placeholder="Planning Description"
                [(ngModel)]="planning.planningDescription"
              >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>Start date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startDate"
                [min]="minDate"
                #beginDate
                [(ngModel)]="startDate"
              >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>End date</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="endDate"
                [min]="beginDate.value"
                [(ngModel)]="endDate"
              >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Repeat cycle</mat-label>
              <input
                matInput
                required
                type="number"
                id="inputRepeatCycle"
                placeholder="Repeat cycle (per week)"
                formControlName="repeatCyc"
                [min]="1"
                [(ngModel)]="planning.repeatCycle"
              >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
              <mat-hint>(weeks)</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 colorsRow">
            <div class="colorsLabel">
              <mat-label >Color</mat-label>
            </div>
            <table class="colorTable">
              <tr>
                <td matTooltip="Primary"><div (click)="choseColor('primary')" [ngClass]="planning.color === 'btn btn-primary' ? 'btn-primary colorsChecked' : 'btn-primary colors'"></div></td>
                <td  matTooltip="Secondary" ><div (click)="choseColor('secondary')" [ngClass]="planning.color === 'btn btn-secondary' ? 'btn-secondary colorsChecked' : 'btn-secondary colors'"></div></td>
                <td matTooltip="Light blue"><div (click)="choseColor('info')" [ngClass]="planning.color === 'btn btn-info' ? 'btn-info colorsChecked' : 'btn-info colors'"></div></td>
                <td matTooltip="Yellow"><div (click)="choseColor('warning')" [ngClass]="planning.color === 'btn btn-warning' ? 'btn-warning colorsChecked' : 'btn-warning colors'"></div></td>
                <td matTooltip="Green"><div (click)="choseColor('success')" [ngClass]="planning.color === 'btn btn-success' ? 'btn-success colorsChecked' : 'btn-success colors'"></div></td>
                <td matTooltip="Red"><div (click)="choseColor('danger')" [ngClass]="planning.color === 'btn btn-danger' ? 'btn-danger colorsChecked' : 'btn-danger colors'"></div></td>
                <td matTooltip="Dark"><div (click)="choseColor('dark')" [ngClass]="planning.color === 'btn btn-dark' ? 'btn-dark colorsChecked' : 'btn-dark colors'"></div></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="form-row lasRow">
          <div class="form-group col-md-6 daysColorsRow">
            <div class="daysLabel">
              <mat-label>Repeat days </mat-label>
            </div>
            <table class="daysTable">
              <tr>
                <td class="daysTd"><div matTooltip="Monday" (click)="addRemoveDay('Monday')" style="padding-left: 5px !important;"  class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Monday')> -1 ? 'cornflowerblue' :''}">Mo</div></td>
                <td class="daysTd"><div matTooltip="Tuesday" (click)="addRemoveDay('Tuesday')" class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Tuesday')> -1 ? 'cornflowerblue' :''}">Tu</div></td>
                <td class="daysTd"><div matTooltip="Wednesday" (click)="addRemoveDay('Wednesday')" style="padding-left: 5px !important;" class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Wednesday')> -1 ? 'cornflowerblue' :''}">We</div></td></tr><tr>
              <td class="daysTd"><div matTooltip="Thursday" (click)="addRemoveDay('Thursday')"  class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Thursday')> -1 ? 'cornflowerblue' :''}">Th</div></td>
              <td class="daysTd"><div matTooltip="Friday" (click)="addRemoveDay('Friday')" style="padding-left: 8px" class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Friday')> -1 ? 'cornflowerblue' :''}">Fr</div></td>
              <td class="daysTd"><div matTooltip="Saturday" (click)="addRemoveDay('Saturday')" class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Saturday')> -1 ? 'cornflowerblue' :''}">Sa</div></td>
              <td class="daysTd"><div matTooltip="Sunday" (click)="addRemoveDay('Sunday')" class="btn-secondary days" [ngStyle]="{'background-color':planning.scheduleDays.indexOf('Sunday')> -1 ? 'cornflowerblue' :''}">Su</div></td>
            </tr>
            </table>
          </div>
          <div class="form-group col-md-6">
            <div class="buttonsDiv">
              <button type="submit" *ngIf="pl == null" mat-raised-button color="primary" [disabled]="planning.scheduleDays.length === 0 || !formGroup.valid || (!formGroup2.valid && schedule.pauseTime && newSch) || (!formGroup3.valid && newSch) || (noSch && !newSch)" (click)="addPlanning()">Add planning</button>
              <button type="submit" *ngIf="pl != null" mat-raised-button color="primary" [disabled]="!formGroup.valid || (!formGroup3.valid && newSch) ||(!formGroup2.valid && schedule.pauseTime && newSch)" (click)="updatePlanning()">Update</button>
              <button type="button" (click)="closeThis()" class="btn btn-light cancelButt">Cancel</button>
            </div>

          </div>
        </div>

      </form>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</div>
