<div  style="align-content: end"  style="height:350px;">
  <div class="list-viewer-wrapper " align="center">
    <h3 class="list-header-title">MY ORDERS</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>date</th>
    <th>status</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders | async">
    <td>{{order.idOrder}}</td>
    <td>05/12/2019</td>
    <td>{{order.status}}</td>
    <td>{{order.products}}</td>
  </tr>
  </tbody>
</table>
  </div>
</div>

