.pt-3-half {
  padding-top: 1.4rem;
}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: inherit;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-right: -90px;
  margin-top: -10px;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}


.md-number-input.number-input {
  width: 15rem;
}
.md-number-input.number-input button {
  outline: none;
  width: 15px;
  height: 15px;
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
  width: 15px;
  background-color: white;
}
.md-number-input.number-input input[type=number] {
  width: 120px;
  height: 35px;
  padding: 15px;
  border: solid #ddd;
  border-radius: 3px;
  border-width: 0 2px;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}
