<br>
<form *ngIf="sender ==2 && dep != null" [formGroup]="editForm" style="color:black">

  <div class="main-card mb-3 card">
    <div class="card-header">
    <h1 > Edit <b>{{dep.depName}}</b> department</h1>
    </div>

    <div class="card-body">
      <div class="line">
        <label for="supDep">Department Name</label>
        <input disabled type="text"  class="form-control" value="{{dep.depName}}">
      </div>

      <div class="line">
        <label for="depNameEdit">New Department Name</label>
        <input matInput [(ngModel)]="newName" formControlName="depNameEdit" type="text" class="form-control" id="depNameEdit" placeholder="New department name">
        <div class="mat-errorContainer">
          <mat-error *ngIf="!depNameEdit.valid && depNameEdit.touched && newName.length > 0 && newName.length < 3">
            You need to specify at least 3 characters
            {{disableButt()}}
          </mat-error>
          <mat-error *ngIf="(!depNameEdit.valid && depNameEdit.touched) && newName.length >= 3">
            {{ getErrorDepNameEdit()}}
            {{disableButt()}}
          </mat-error>
          <mat-error *ngIf="depNameEdit.valid && newName.length >= 3">
            {{enableButt()}}
          </mat-error>
          <mat-error *ngIf="depNameEdit.valid && (newName.length === 0 && newChefDep != null)">
            {{enableButt()}}
          </mat-error>
        </div>
      </div>
  <div class="main-card mb-3 card">
    <div class="card-body">
      <div class="line">
        <label for="supDep">Chef. Department</label>
        <input *ngIf="chefDep !=null" disabled type="text"  class="form-control" value="{{chefDep.name}} {{chefDep.firstName}}">
        <input *ngIf="chefDep === null" disabled type="text"  class="form-control" value="No chef. Department is set.">
      </div>

      <div class="line">
        <label>Change chef. Department</label>
        <select (change)="enableDisableButt()" required class="custom-select" id="inputGroupSelect01" [(ngModel)]="newChefDep"[ngModelOptions]="{standalone: true}">
          <option style="color:#3f6ad8;font-weight: bolder"  [ngValue]="null">Unchanged </option>
          <option *ngFor="let user of dep.users" [ngValue]="user">
            <span>{{user.name}} {{user.firstName}}</span>
          </option>
        </select>
      </div>
      </div>
    </div>
    </div></div>
  <div style="width: 100%">
    <div class="buttons">
      <button class="btn btn-primary"  [disabled]="disable" mat-raised-button  type="submit" (click)="updateDep()">Submit</button>
      <button type="button" (click)="closeThis()" class="btn btn-light" style="margin-left: 20px;">Cancel</button>
    </div></div>
</form>


<form *ngIf="sender == 1" [formGroup]="registerForm"  (ngSubmit)="registerForm.valid" novalidate  style="color:black">
  <div class="main-card mb-3 card">
    <div class="card-header" style="text-align: left">
    <h1 *ngIf="dep!=null" style="padding:30px;">Add department to <b>{{dep.depName}}</b> department</h1>
    <h1 *ngIf="dep==null" style="padding:30px;">Add a new department</h1>
   </div>
    <div class="card-body">
      <div class="line" *ngIf="dep!=null" >
        <label for="supDep">Sup. Department</label>
        <input disabled type="text" class="form-control" id="supDep" value="{{dep.depName}}">
      </div>
      <div class="line">
        <label for="depName">Department Name*</label>
        <input required [(ngModel)]="department.depName" formControlName="depName" type="text" class="form-control" id="depName" placeholder="Department name">
        <div class="mat-errorContainer">
          <mat-error *ngIf="!depName.valid && depName.touched ">
            {{ getErrorDepName()}}
          </mat-error>
        </div>
      </div>
      <div class="line note">
        <span> Note: this department will be submitted with no department supervisor, the supervisor can be set after adding employees to this department.</span>
      </div>
     </div>
  </div>
  <div style="width: 100%">
    <div class="buttons">
      <button class="btn btn-primary"  [disabled]="!registerForm.valid" mat-raised-button  type="submit" (click)="addDep()">Add department</button>
      <button type="button" (click)="closeThis()" class="btn btn-light" style="margin-left: 20px;">Cancel</button>
    </div>
  </div>
</form>
