
<app-nav [actif]="thisPage"></app-nav>
<body class="bodyS" >
<div class="containerDiv">
  <form style="width: 50%" >

    <input class="form-control" type="email" [(ngModel)]="data.email" name="email" placeholder="Your Email Adress" /><br><br>
    <textarea  class="form-control" rows = "4" cols = "50" [(ngModel)]="data.message" name="message" placeholder="What's on your mind ?"></textarea><br><br>
    <input  type="submit" name="subCon" class="btn btn-primary" (click)="sendEmail()" value="Send !"/>
  </form>
</div>
</body>
<app-footer></app-footer>
