  <ng-template matStepLabel>Fill out user informations</ng-template>
  <div  class="main-card mb-3 card main" >
    <div class="card-header">

      <h1>Add schedule</h1>
      <hr>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup">
        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Schedule Name</mat-label>
              <input
                matInput
                required
                id="inputScheduleName"
                placeholder="Schedule name"
                formControlName="schName"
                >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Schedule Description</mat-label>
              <input
                matInput
                required
                id="inputScheduleDesc"
                placeholder="Schedule Description"
                formControlName="schDesc"
              >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>Start date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startDate"
              >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>End date</mat-label>
              <input
                matInput [matDatepicker]="picker2"
                formControlName="endDate"

              >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <mat-form-field  appearance="outline">
              <mat-label>Repeat cycle</mat-label>
              <input
                matInput
                required
                type="number"
                id="inputRepeatCycle"
                placeholder="Repeat cycle (per week)"
                formControlName="repeatCyc"
              >
              <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
              </mat-error>
              <mat-hint>(weeks)</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group col-md-3 hours">
              <input
                [format]="24"  readonly
                class="choseTime"
                placeholder="Begin hour"
                [ngxTimepicker]="picker3">
              <ngx-material-timepicker class="timePicker" #picker3></ngx-material-timepicker>
          </div>
          <div class="form-group col-md-3 hours">
            <input
              [format]="24"  readonly
              class="choseTime"
              placeholder="End hour"
              [ngxTimepicker]="picker4">
            <ngx-material-timepicker class="timePicker" #picker4></ngx-material-timepicker>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-label>Repeat days: </mat-label>
            <table class="daysTable">
              <tr>
                <td class="daysTd"><div matTooltip="Monday" style="padding-left: 5px !important;" class="btn-secondary days">Mo</div></td>
                <td class="daysTd"><div matTooltip="Tuesday" class="btn-secondary days">Tu</div></td>
                <td class="daysTd"><div matTooltip="Wednesday" style="padding-left: 5px !important;" class="btn-secondary days">We</div></td></tr><tr>
              <td class="daysTd"><div matTooltip="Thursday"  class="btn-secondary days">Th</div></td>
              <td class="daysTd"><div matTooltip="Friday" style="padding-left: 8px" class="btn-secondary days">Fr</div></td>
              <td class="daysTd"><div matTooltip="Saturday" class="btn-secondary days">Sa</div></td>
              <td class="daysTd"><div matTooltip="Sunday" class="btn-secondary days">Su</div></td>
            </tr>
            </table>
          </div>
          <div class="form-group col-md-6 colorsRow">
            <mat-label>Color</mat-label>
            <table class="colorTable">
            <tr>
            <td><div matTooltip="Primary" class="btn-primary colors"></div></td>
            <td><div matTooltip="Secondary" class="btn-secondary colors"></div></td>
            <td><div matTooltip="Light blue" class="btn-info colors"></div></td>
            <td><div matTooltip="Yellow" class="btn-warning colors"></div></td>
            <td><div matTooltip="Green" class="btn-success colors"></div></td>
            <td><div matTooltip="Red" class="btn-danger colors"></div></td>
            <td><div matTooltip="Dark" class="btn-dark colors"></div></td>
            </tr>
            </table>
          </div>

        </div>

        <div class="form-row lastRow">

          <div class="form-group col-md-6">
            <mat-checkbox (change)="pauseTime = !pauseTime"> Pause time
            </mat-checkbox><br>
            <div class="pauseTimeDiv">
              <table *ngIf="pauseTime">
                <tr><td>
                  <input
                    [format]="24"  readonly
                    class="choseTime"
                    placeholder="Pause begin hour"
                    [ngxTimepicker]="picker5">
                  <ngx-material-timepicker class="timePicker" #picker5></ngx-material-timepicker>
                </td><td> <input
                  [format]="24"  readonly
                  class="choseTime"
                  placeholder="pause end hour"
                  [ngxTimepicker]="picker6">
                  <ngx-material-timepicker class="timePicker" #picker6></ngx-material-timepicker>
                </td>  </tr>
              </table>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="buttonsDiv">
              <button type="submit" mat-raised-button color="primary">Add Schedule</button>
              <button type="button" (click)="closeThis()" class="btn btn-light cancelButt">Cancel</button>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
