<div *ngIf="formGroup2 == null" style="padding-top: 15%;width:100%">
  <div style="width:200px;margin:auto;padding-left: 55px">
    <div class="spinner-container" style="">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<div  [@enterAnimation] *ngIf="formGroup2 != null" style="height:324px" class="main-card mb-3 card">
    <div class="card-header">
      <h1><S></S>Add schedule</h1>
      <hr>
    </div>

      <div class="card-body main">
        <form [formGroup]="formGroup">

          <div class="timeLabel">
            <mat-label>Daily cycle</mat-label>
          </div>
          <input
            [format]="24"
            class="choseTime"
            placeholder="Begin hour"
            formControlName="beginHour"
            #pickerBeginHour
            [ngxTimepicker]="picker3"
            [(ngModel)]="beginHour"
          >
          <ngx-material-timepicker (timeChanged)="notChanged = false" class="timePicker" #picker3></ngx-material-timepicker>
          <input
            [format]="24"
            class="choseTime"
            placeholder="End hour"
            formControlName="endHour"
            #pickerEndHour
            [min]="pickerBeginHour.value"
            [ngxTimepicker]="picker4"
            [(ngModel)]="endHour"
          >
          <ngx-material-timepicker (timeChanged)="notChanged = false" class="timePicker" #picker4></ngx-material-timepicker>

        </form>
        <br><br>
        <form [formGroup]="formGroup2">
          <mat-checkbox [checked]="schedule.pauseTime" (change)="schedule.pauseTime = !schedule.pauseTime; notChanged = false"> Pause time
          </mat-checkbox><br>
          <div class="pauseTimeDiv">
            <table *ngIf="schedule.pauseTime">
              <tr><td>
                <input
                  [format]="24"  readonly
                  class="choseTime"
                  placeholder="Pause begin hour"
                  formControlName="pauseStartHour"
                  [min]="pickerBeginHour.value"
                  [max]="pickerEndHour.value"
                  #pickerPauseBeginHour
                  [ngxTimepicker]="picker5"
                  [(ngModel)]="pauseStartHour"
                >
                <ngx-material-timepicker (timeChanged)="notChanged = false" class="timePicker" #picker5></ngx-material-timepicker>
              </td><td> <input
                [format]="24"  readonly
                class="choseTime"
                formControlName="pauseEndHour"
                placeholder="pause end hour"
                [min]="pickerPauseBeginHour.value"
                [max]="pickerEndHour.value"
                [ngxTimepicker]="picker6"
                [(ngModel)]="pauseEndHour"
              >
                <ngx-material-timepicker (timeChanged)="notChanged = false" class="timePicker" #picker6></ngx-material-timepicker>
              </td>  </tr>
            </table>
          </div>
          <div class="buttonsDiv" *ngIf="formGroup != null && formGroup2 != null">
            <button type="submit" *ngIf="sch == null" mat-raised-button color="primary" [disabled]=" !formGroup.valid || (!formGroup2.valid && schedule.pauseTime)" (click)="addSchedule()">Add schedule</button>
            <button type="submit" *ngIf="sch != null" mat-raised-button color="primary"  [disabled]=" !formGroup.valid || (!formGroup2.valid && schedule.pauseTime) || notChanged" (click)="modifySchedule()">Update</button>
            <button type="button" (click)="closeThis()" class="btn btn-light cancelButt">Cancel</button>
          </div>
        </form>
      </div>
    </div>
