<div [ngClass]=" getTheme()? 'bg-dark' :''" style="min-height:250px;margin: -20px">
  <div *ngIf="loading" style="padding-top: 15%;width:100%">
    <div style="width:200px;margin:auto">
      <div style="margin-left:50px" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div  class="search-wrapper">
      <div style="position: absolute;background-color: transparent;margin-top: 25px;margin-left: 20px;" [ngClass]="{'search-wrapper active': showHideInput}">
        <div class="input-holder" [ngClass]=" getTheme() && showHideInput? 'bg-premium-dark' :''">
          <input [ngStyle]="{'color': getTheme()? 'white' :''}" type="text" [(ngModel)]="searchText" style="width: 100%" class="search-input" placeholder="Search (name, Email, Phone,...)">
          <button  (click)="showHideInput = true;" class="search-icon"><span></span></button>
        </div>
        <button (click)="showHideInput = false;" class="close"></button>
      </div>
    </div><br><br>
    <mat-nav-list style="margin-top: 30px" >
      <a style="margin-bottom: 10px;" *ngFor="let user of users | filter: searchText" mat-list-item>
    <span mat-line>
           <img width="48" height="49" style="position: fixed" class="rounded-circle" *ngIf="user.fullImage !=  null" [src]="user.fullImage" alt="">
            <img width="53" height="53" style="position: fixed" class="rounded-circle" *ngIf=" user.fullImage === null " src="../../assets/images/avatars/0.png" alt="">
   <span [ngStyle]="{'color': getTheme()? 'white' :''}" style="padding-left: 55px">{{user.firstName}} {{user.name}}</span>
    </span>
        <span *ngIf="user.post != null" style="padding-left: 65px;color:grey;" mat-line>
          Current post: {{user.post.postName}}
        </span>
        <span *ngIf="user.post == null" style="padding-left: 65px;color:grey;" mat-line>
          No post assigned
        </span>
        <span  style="width:100%;padding-left: 65px;color:grey;padding-bottom: 20px" mat-line>Department: {{user.department.depName}}</span>
        <span style="float: right">
              <button type="button" id="PopoverCustomT-5" (click)="updateUser(user)" style="border-radius: 12px" class="btn btn-success btn-sm" matTooltip="Assign post"><span class="fa fa-plus-circle"></span></button>
            </span>
      </a>

    </mat-nav-list>
  </div>
  <br>

</div>

